.net_nehmer_comments_comment_toolbar ul.midcom_toolbar
{
    list-style-type: none;
    margin: 0;
    padding: .2em
}

.net_nehmer_comments_comment_toolbar_busy
{
    opacity: .3
}

.net_nehmer_comments_comment_toolbar li,
.net_nehmer_comments_comment_toolbar li form,
.net_nehmer_comments_comment_toolbar li form div
{
    display: inline
}
