body
{
    margin: 0;
    padding: 0;
    font-family: "Tahoma", "Lucida Grande Regular", "Arial", "Helvetica", sans-serif;
    font-size: 70%;
}

/* Main report area */
div.org_openpsa_reports_report
{
    height: 100vh;
}

/* Report overall header */
div.org_openpsa_reports_report div.header
{
}
div.org_openpsa_reports_report div.header div.logoarea
{
    position: absolute;
    right: 0;
    top: 5px;
}

/* General alert class */
.alert
{
    color: red;
}

/* Report table in general */
div.org_openpsa_reports_report table.report
{
    width: 100%;
}

.actions i
{
    margin-left: .5em;
    font-size: 16px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
    color: #333;
}

li:hover .actions i
{
	opacity: .5
}

li .actions:hover i
{
    opacity: 1;
}

.actions i.fa-trash
{
    color: #ee2b2b;
}
