.midcom_helper_datamanager2_widget_position
{
    width: 450px;
    font-size: 1em
}

.position_widget_tab_content .geodata_btn
{
    margin-right: 5px;
    float: right;
    width: 16px;
    height: 16px;
    background: url('refresh_geodata.png');
    cursor: pointer;
}

.position_widget_tab_content .indicator
{
    margin-right: 5px;
    float: right;
    width: 16px;
    height: 16px;
    background: url('../../stock-icons/16x16/ajax-loading.gif');
}

.position_widget_actions
{
    margin-bottom: 10px;
}
.position_widget_actions div
{
    font-weight: bold;
    cursor: pointer;
}