/**
 * Styles for ui messages with javascript
 */

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#midcom_services_uimessages_wrapper
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    position: fixed;
    top: 0;
    left: calc(50% - 156px);
}

#midcom_services_uimessages_wrapper.uimessages-fancy
{
    z-index: 10000
}

#midcom_services_uimessages_wrapper div.midcom_services_uimessages
{
    background-color: rgba(255, 255, 255, .85);
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    color: #333;
    padding: 5px 16px 5px 5px;
    margin-bottom: 10px;
    width: 312px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
}

#midcom_services_uimessages_wrapper div.error
{
    background-color: rgba(255, 220, 220, .85);
    border-color: #E6C8C8;
}

#midcom_services_uimessages_wrapper i.close
{
    float: right;
    position: relative;
    right: -12px;
    cursor: pointer;
    color: #f33;
    font-size: 14px;
    opacity: .7;
    transition: opacity .2s
}

#midcom_services_uimessages_wrapper i.close:hover
{
    opacity: 1
}

#midcom_services_uimessages_wrapper div.midcom_services_uimessages h3
{
  font-size: 100%;
  line-height: inherit;
  margin: 0 0 6px;
  color: #333;
}

#midcom_services_uimessages_wrapper div.error.pulsate
{
    animation: pulsate 7s cubic-bezier(.5, 0, 1, 1) .5s infinite;
}

#midcom_services_uimessages_wrapper div.error h3
{
  color: #ff3333;
}

#midcom_services_uimessages_wrapper div.midcom_services_uimessages a
{
    color: #333;
}
