/* Growl windows */

div.midcom-service-uimessages-protogrowl
{
  display: block;
  width: 312px;
  height: 108px;
  padding: 3px;
  z-index: 99999;
  color: #000000 !important;
}

div.midcom-service-uimessages-protogrowl-type-ok,
div.midcom-service-uimessages-protogrowl-type-warning,
div.midcom-service-uimessages-protogrowl-type-info,
div.midcom-service-uimessages-protogrowl-type-error
{
  background-image: url('images/bg.gif');
  background-repeat: no-repeat;
  background-position: top left;
}

html > body div.midcom-service-uimessages-protogrowl-type-ok,
html > body div.midcom-service-uimessages-protogrowl-type-warning,
html > body div.midcom-service-uimessages-protogrowl-type-info,
html > body div.midcom-service-uimessages-protogrowl-type-error
{
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: top left;
}

div.growl-window-contenthelper-type-ok,
div.growl-window-contenthelper-type-warning,
div.midcom-service-uimessages-protogrowl-contenthelper-type-info,
div.growl-window-contenthelper-type-error
{
  height: 85%;
  padding: 2px;
}

div.midcom-service-uimessages-protogrowl-closebutton
{
  float: right;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 15px;
  background: left top no-repeat url('images/close-btn.gif');
}

div.midcom-service-uimessages-protogrowl-title
{
  margin: 5px 0 3px 6px;
  padding: 0;
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 800;
}

div.midcom-service-uimessages-protogrowl-content
{
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding-left: 5px;
  padding-top: 5px;
}

/* Growl windows ends */
