div.net_nemein_wiki_wikipage a.edit img
{
    border: none;
}

div.wiki_preview
{
    background-color: #e0e0e0;
    padding: 1em;
    background-image: url('../midcom.helper.datamanager2/previewbg.gif');
    margin-bottom: .75em;
}

form.datamanager2 label[for=net_nemein_wiki_content]
{
    display: none;
}

/* Tags view should resemble MediaWiki categories list */
div.net_nemein_wiki_wikipage .tags
{
    border-top: 1px solid #999;
    padding: 6px;
    margin-top: 1.5em;
}
div.net_nemein_wiki_wikipage .tags dt
{
    display: inline;
    font-weight: bold;
}
div.net_nemein_wiki_wikipage .tags dt:after
{
    content: ':';
}
div.net_nemein_wiki_wikipage .tags dd
{
    display: inline;
    margin: 0px;
    padding: 0px;
}
div.net_nemein_wiki_wikipage .tags a
{
    padding: .1em .3em;
    border-radius: 2px;
    border: 1px solid white;
}
div.net_nemein_wiki_wikipage .tags a:hover
{
    background-color: #e7e7e7;
    border: 1px solid #aaa;
    text-decoration: none !important
}

/* Not found page styling */
div.net_nemein_wiki_notfound ul.midcom_toolbar img
{
    border: 0px;
}
div.net_nemein_wiki_notfound ul.midcom_toolbar
{
    list-style: none;
    padding: 0px;
}

/* Table of contents should look quite MediaWiki-like */
div.net_nemein_wiki_wikipage ol.midcom_helper_toc_formatter
{
    border: 1px solid #999;
    float: right;
    width: 30%;
    background-color: #f3f3f3;
    padding: 6px;
    margin-left: 10px;
    list-style: none;
    border-radius: 5px;
}
div.net_nemein_wiki_wikipage ol.midcom_helper_toc_formatter ol
{
    /* TODO: Would be nice to number x.x */
    list-style: number;
    padding-left: 20px;
    margin-left: 4px;
}
div.net_nemein_wiki_wikipage ol.midcom_helper_toc_formatter li
{
    margin-bottom: .3em;
}

div.net_nemein_wiki_wikipage ol.midcom_helper_toc_formatter li ol
{
    margin-top: .3em;
}

/* Centralize included photos */
div.net_nemein_wiki_wikipage div.org_routamc_photostream_photo
{
    text-align: center;
}
div.net_nemein_wiki_wikipage div.org_routamc_photostream_photo img
{
    border: none;
}
div.net_nemein_wiki_wikipage div.org_routamc_photostream_photo h3
{
    margin-top: 0px;
    font-weight: normal;
    font-style: italic;
}

/* Styles for note, tip & warning copied from M-P.org */
div.net_nemein_wiki_wikipage div.tip, div.net_nemein_wiki_wikipage div.note, div.net_nemein_wiki_wikipage div.warning
{
    padding-left: 70px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    margin: 4px;
    min-height: 64px;
    border: 1px solid #c0c0c0;
    color: #606060;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

div.net_nemein_wiki_wikipage div.note
{
    background-image: url('note-area.png');
}

div.net_nemein_wiki_wikipage div.tip
{
    background-image: url('tip-area.png');
}

div.net_nemein_wiki_wikipage div.warning
{
    background-image: url('warning-area.png');
}

div.net_nemein_wiki_wikipage pre code
{
    background-color: #444;
    color: #f5f5f5;
    display: block;
    border: 1px solid #e7e7e7;
    margin: .3em 2em;
    padding: .5em 1em;
    max-width: 90%;
    overflow: auto;
    white-space: pre-wrap;
}

div.net_nemein_wiki_wikipage a.wiki_missing
{
    color: #cc0000;
    text-decoration: none !important;
    border-bottom: dashed 1px #cc0000;
}
div.net_nemein_wiki_wikipage a.access-denied
{
    background-image: url('../midgard.admin.asgard/permissions-16.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    opacity: .7
}
div.net_nemein_wiki_wikipage a.access-denied:hover
{
    text-decoration: none;
    cursor: not-allowed;
}
div.net_nemein_wiki_wikipage span.wiki_missing_nouser
{
    border-bottom: dashed 1px #c0c0c0;
}

div.net_nemein_wiki_wikipage table,
div.net_nemein_wiki_wikipage th,
div.net_nemein_wiki_wikipage td
{
    border: 1px solid #eee;
}

div.net_nemein_wiki_wikipage table
{
    border-collapse: collapse
}

div.net_nemein_wiki_wikipage th,
div.net_nemein_wiki_wikipage td
{
    padding: .3em .5em;
}
div.net_nemein_wiki_wikipage tbody tr:nth-child(odd)
{
    background-color: #f8f8f7;
}

table.net_nemein_wiki_latest
{
    width: 100%;
}

table.net_nemein_wiki_latest th
{
    text-align: left;
}
