div.ajax_editable
{
	display: inline
}

div.ajax_editable:hover
{
    background-color: #ffff99;
    cursor: text;
}

button.midcom_helper_datamanager2_composite_delete_button
{
    border: none;
    background-color: none;
    width: 18px;
    height: 18px;
    padding: 0px;
}
button.midcom_helper_datamanager2_composite_delete_button img
{
    padding: 0px;
    margin: 0px;
}
button.midcom_helper_datamanager2_composite_delete_button:hover
{
    background-color: #fcaf3e;
}

button.midcom_helper_datamanager2_composite_create_button
{
    border: 1px solid #000000;
    background-color: #eae8e3;
    -moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    margin: 4px;
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/new-html.png');
    background-repeat: no-repeat;
    background-position: left;
}
button.midcom_helper_datamanager2_composite_create_button:hover
{
    background-color: #fcaf3e;
}

/* Styling for a Datamanager "window" editor */
/* FIXME: This should be absolute for IE */
div.ajax_editable_window
{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	width: 500px;
	height: 400px;
	margin: -220px 0 0 -250px;
	border: 1px solid #fcaf3e;
	background: #ffffff;
	text-align: left;
	padding: 6px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
div.ajax_editable_window div.midcom_helper_datamanager2_ajax_toolbar
{
    width: 100%;
    background-color: #eae8e3;
    -moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    text-align: center;
}
div.ajax_editable_window div.midcom_helper_datamanager2_ajax_toolbar input
{
    display: inline;
    border: none;
    background-color: transparent;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}
div.ajax_editable_window div.midcom_helper_datamanager2_ajax_toolbar input:hover
{
    background-color: #e0e0e0;
}
div.ajax_editable_window div.midcom_helper_datamanager2_ajax_toolbar input.delete
{
    margin-left: 40px;
}

/* Overlays for blanking all other content when we render a "window" editor */
#midcom_helper_datamanager2_ajax_overlay
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: #000000;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
#midcom_helper_datamanager2_ajax_overlay[id]
{
	position:fixed;
}