.autocomplete_widget_create_button
{
    height: 18px;
    margin-left: 10px;
    background: url('../stock-icons/16x16/list-add.png') left center no-repeat;
    padding-left: 20px;
    font-weight: bold;
    font-size: 8pt;
    float: left;
    cursor: pointer
}

.autocomplete_widget_creation_dialog
{
    display: none;
    position: fixed !important;
    position: absolute;
    top: 5%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.ui-autocomplete-loading
{
    background: url('ajax-loading-small.gif') right center no-repeat;
}

ul.ui-autocomplete
{
    overflow: auto
}