.autocomplete_widget_create_button
{
    height: 18px;
    margin-left: 10px;
    background: url('../stock-icons/16x16/list-add.png') left center no-repeat;
    padding-left: 20px;
    font-weight: bold;
    font-size: 8pt;
    float: left;
    cursor: pointer
}

.autocomplete_widget_creation_dialog
{
    display: none;
}

.autocomplete_helptext_shown
{
    color: #aaa;
}

.autocomplete-selection-holder
{
    display: block;
    clear: both;
}

.autocomplete-selection-holder .autocomplete-item
{
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: .2em;
    margin-right: .5em;
    padding: .2em .3em;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    margin-bottom: .2em
}
.autocomplete-selection-holder .autocomplete-item:hover
{
    border-left-color: #bbb;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.autocomplete-item .autocomplete-item-label
{
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    max-width: 20em;
    white-space: nowrap
}

.autocomplete-selection-holder-readonly .autocomplete-item-label
{
    margin-right: 0;
}

.autocomplete-selection-holder .autocomplete-action-icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-left: .5em;
    vertical-align: middle;
    position: absolute;
    right: .3em;
}

.autocomplete-action-icon
{
    opacity: .3
}
.autocomplete-item:hover .autocomplete-action-icon
{
    opacity: .7
}
.autocomplete-item:hover .autocomplete-action-icon:hover
{
    opacity: 1
}

.autocomplete-selected .autocomplete-action-icon
{
    background-image: url('../stock-icons/16x16/cancel.png');
}

.autocomplete-todelete .autocomplete-action-icon
{
    background-image: url('../stock-icons/16x16/stock_refresh.png');
}

.autocomplete-todelete .autocomplete-item-label
{
    opacity: .7;
    max-width: 6em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.autocomplete_input
{
    background: url("../stock-icons/16x16/search.png") no-repeat 99% center;
    margin-bottom: .3em
}

.ui-autocomplete-loading
{
    background: url('../stock-icons/16x16/ajax-loading.gif') right center no-repeat;
}

.ui-autocomplete-error
{
    background: url('failed.png') right center no-repeat;
}

ul.ui-autocomplete
{
    overflow: auto;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25)
    max-height: 100%; /* for IE < 9 & Opera */
    max-height: calc(100% - 6px);
}

ul.ui-autocomplete .ui-menu-item a.ui-state-focus
{
    font-weight: normal;
    border: none;
    margin: 0
}

li.ui-autocomplete-category
{
    font-weight: bold;
    color: #444;
    padding-top: .2em
}