.autocomplete_widget_create_button
{
    height: 18px;
    margin-left: 10px;
    background: url('../stock-icons/16x16/list-add.png') left center no-repeat;
    padding-left: 20px;
    font-weight: bold;
    font-size: 8pt;
    float: left;
    cursor: pointer
}

.autocomplete_widget_creation_dialog
{
    display: none;
    position: fixed !important;
    position: absolute;
    top: 5%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.autocomplete_helptext_shown
{
    color: #aaa;
}

.autocomplete-selection-holder .autocomplete-item
{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: .2em;
    margin-right: .5em;
    padding: .1em .5em;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.autocomplete-selection-holder .autocomplete-item:hover
{
    border-top-color: #ddd;
    border-bottom-color: #bbb;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2)
}


.autocomplete-item .autocomplete-item-label
{
    display: inline-block;
    vertical-align: middle;
}

.autocomplete-selection-holder .autocomplete-action-icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-left: .5em;
    vertical-align: middle;
}

.autocomplete-selected .autocomplete-action-icon
{
    background-image: url('../stock-icons/16x16/cancel.png');
}

.autocomplete-todelete .autocomplete-action-icon
{
    background-image: url('../stock-icons/16x16/stock_refresh.png');
}

.autocomplete-todelete .autocomplete-item-label
{
    opacity: .7;
    max-width: 6em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.ui-autocomplete-loading
{
    background: url('../stock-icons/16x16/ajax-loading.gif') right center no-repeat;
}

.ui-autocomplete-error
{
    background: url('failed.png') right center no-repeat;
}

ul.ui-autocomplete
{
    overflow: auto;
    max-height: 100%
}

ul.ui-autocomplete .ui-menu-item a.ui-state-focus
{
    font-weight: normal;
    border: none;
}

li.ui-autocomplete-category
{
    font-weight: bold;
    color: #444;
    padding-top: .2em
}