fieldset.midcom_helper_datamanager2_widget_markdown ul {
    position:relative;
    list-style:none;
    border:1px solid #d7d7d7;
    background-color: #F0F0EE;
    margin:0;
    padding:0;
    height:20px;
}

fieldset.midcom_helper_datamanager2_widget_markdown li {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

fieldset.midcom_helper_datamanager2_widget_markdown li a {
    width:20px;
    height:20px;
    float:left;
    display:block;
    /*background-image:url("http://livepipe.net/styles/markdown_icons.gif");*/
    border-right-color: #d7d7d7;
}

fieldset.midcom_helper_datamanager2_widget_markdown li a:hover {
    border-color:#900;
}

fieldset.midcom_helper_datamanager2_widget_markdown li span {
    display:none;
}

fieldset.midcom_helper_datamanager2_widget_markdown li a.markdown_help_button {
    position:absolute;
    top:0;
    right:0;
    border-left-color: #d7d7d7;
    border-right-color #fff;
}

fieldset.midcom_helper_datamanager2_widget_markdown li a.markdown_help_button:hover {
    border-left-color: #900;
    border-right-color: #900;
}

.markdown_italics_button { background-image: url("./tinymce/themes/advanced/images/italic.gif"); }
.markdown_bold_button { background-image: url("./tinymce/themes/advanced/images/bold.gif"); }
.markdown_link_button { background-image: url("./tinymce/themes/advanced/images/link.gif"); }
.markdown_image_button { background-image: url("./tinymce/themes/advanced/images/image.gif"); }
.markdown_unordered_list_button { background-image: url("./tinymce/themes/advanced/images/bullist.gif"); }
.markdown_ordered_list_button { background-image: url("./tinymce/themes/advanced/images/numlist.gif"); }
.markdown_quote_button { background-image: url("./tinymce/themes/advanced/images/indent.gif"); }
.markdown_code_button { background-image: url("./tinymce/themes/advanced/images/code.gif"); }
.markdown_help_button { background-image: url("./tinymce/themes/advanced/images/help.gif"); }
.markdown_heading_button { background-image: url("./tinymce/themes/advanced/images/forecolor.gif"); }