/* Datamanager CSS rules. Include this whenever you want to have
 * a datamangager (or at least create the corresponding style
 * rules).
 */

form.datamanager2 label
{
    display: block;
    padding: 3px 0 3px 0;
    font-weight: bold;
}

form.datamanager2 fieldset
{
    border: none;
}

form.datamanager2 fieldset.fieldset
{
    border: solid 1px black;
}

form.datamanager2 fieldset.radio label
{
    display: inline;
    font-weight: normal;
}
form.datamanager2 fieldset.radio label span
{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: 1em;
    font-size: 1em;
    width: 100px;
    margin-right: 6px;
    display: inline-block;
    display: -moz-inline-box;
}

form.datamanager2 label input.shorttext,
    form.datamanager2 label textarea.longtext,
    form.datamanager2 label textarea.tinymce,
    form.datamanager2 label select.list,
    form.datamanager2 label select.dropdown,
    form.datamanager2 label iframe
{
    margin: 0.5ex 0 0 0;
    display: block;
}

form.datamanager2 label select.selectcomponent option
{
    height: 20px;
    padding-left: 22px;
    padding-top: 2px;
    vertical-align: middle;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

form.datamanager2 label input.radiobutton
{
    display: inline;
}

form.datamanager2 fieldset
{
    margin: 1ex 0 1ex 0;
    padding: 3px 10px;
}

form.datamanager2 fieldset legend
{
    font-weight: bold;
    padding: 1px 3px;
}

form.datamanager2 label.required
{
    font-weight: bold;
}

form.datamanager2 label span.field_text
{
    margin-right: 1em;
}

form.datamanager2 label.missing
{
    color: red;   
}

form.datamanager2 fieldset.account legend,
    form.datamanager2 fieldset.blob legend,
    form.datamanager2 fieldset.image legend,
    form.datamanager2 fieldset.collection legend,
    form.datamanager2 fieldset.radiobox legend,
    form.datamanager2 fieldset.mailtemplate legend
{
    font-weight: normal;
}

form.datamanager2 fieldset.radiobox label
{
    display: inline;
    margin: 0px 10px 0px 0px;
    white-space: nowrap;
}

form.datamanager2 fieldset.radiobox input
{
    display: inline;
    vertical-align: top !important;
    vertical-align: baseline; /* This one is for IE */
}

form.datamanager2 div.blob_preview,
form.datamanager2 div.image_preview
{
    float: right;
    width: 180px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

form.datamanager2 div.image_frame
{
    width: 180px;
    height: 140px;
    margin: 0px;
    padding: 0px;
    border: none;
    overflow: scroll;
}

form.datamanager2 fieldset.collection fieldset legend
{
    /* Hide the captions of all directly contained blobs, would look weird. */
    display: none;
}

form.datamanager2 label.communityhtml select
{
    display: inline;
}

form.datamanager2 textarea.communityhtml
{
    width: 500px;
    height: 250px;
}

form.datamanager2 span.communityhtml_toolbar img
{
    border: none;
}

/* Save and cancel buttons */
form.datamanager2 div.form_toolbar input
{
    background-image: url('');
    background-repeat: no-repeat;
    background-position: left;
}

form.datamanager2 div.form_toolbar input.save
{
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/save.png');
}

form.datamanager2 div.form_toolbar input.cancel
{
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/cancel.png');
}

form.datamanager2 div.form_toolbar input.previous
{
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/previous.png');
}

form.datamanager2 div.form_toolbar input.next
{
    padding-left: 18px;
    background-image: url('../stock-icons/16x16/next.png');
}


/* Checkbox display */
form.datamanager2 input.checkbox {
    display: inline;
}
form.datamanager2 label.checkbox {
    display: inline;
}
form.datamanager2 label.checkbox div {
    display: inline;
}

/* Selection lists */
div.form_multiselect ul
{
    margin: 0px;
    padding: 0px;
}
div.form_multiselect ul li
{
    list-style: none;
}

form.datamanager2 table.datamanager_table
{
    margin: 1em;
}

form.datamanager2 table.datamanager_table td
{
    border: 0.2px solid #000000;
    text-align: center;
}

form.datamanager2 table.datamanager_table td.datamanager_table_rows_header
{
    font-weight:bold;
    padding:0.3em;
}

form.datamanager2 table.datamanager_table td input.shorttext
{
    border:none;
    background-color: #EAE8E3;
    text-align: left;
}

form.datamanager2 img.captcha
{
    display: block;
}

form.datamanager2 fieldset.checkbox
{
    border: none;
}
form.datamanager2 fieldset.checkbox input.radiobutton
{
    clear: left;
    float: left;
}

/* image actions */
div.midcom_helper_datamanager2_widget_image_actions_container
{
    clear: left;
}

div.midcom_helper_datamanager2_widget_image_actions_container ul.midcom_helper_datamanager2_widget_image_actions
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div.midcom_helper_datamanager2_widget_image_actions_container ul.midcom_helper_datamanager2_widget_image_actions li
{
    display: inline;
    margin: 0px;
    padding: 2px;
}

form.datamanager2 tr
{
  vertical-align: top;
}

form.datamanager2 td.midcom_helper_datamanager2_helper_sortable .enabled
{
  cursor: pointer;
}

form.datamanager2 table.jquery-enabled td.midcom_helper_datamanager2_helper_sortable input
{
  display: none;
}

form.datamanager2 table.jquery-enabled tr th.index,
form.datamanager2 table.jquery-enabled tr td.midcom_helper_datamanager2_helper_sortable,
form.datamanager2 table.jquery-enabled tr th.add_new_row
{
  text-align: right;
  width: 48px;
}

form.datamanager2 table.jquery-enabled tr td img.delete
{
  display: none;
  cursor: pointer;
}

form.datamanager2 table.jquery-enabled tr:hover td img.delete,
form.datamanager2 table.jquery-enabled tr.hover td img.delete,
form.datamanager2 table.jquery-enabled tr.deleted td img.delete
{
  display: inline;
}

form.datamanager2 table.jquery-enabled td img.delete
{
  position: absolute;
  margin-left: -16px;
}

form.datamanager2 table.jquery-enabled tr th.add_new_row img,
form.datamanager2 table.jquery-enabled tr th img.enabled
{
  cursor: pointer;
}

form.datamanager2 table.jquery-enabled tfoot td
{
  display: none;
}

form.datamanager2 table.jquery-enabled tfoot td.new_row
{
  display: table-cell;
}

form.datamanager2 table.jquery-enabled .deleted input,
form.datamanager2 table.jquery-enabled .deleted select,
form.datamanager2 table.jquery-enabled .deleted textarea
{
  text-decoration: line-through;
  font-style: Italic;
  opacity: 0.5;
  filter:alpha(opacity=50);
  -moz-opacity:.50;
  vertical-align: middle;
}

form.datamanager2 table.jquery-enabled thead img.column_sort,
form.datamanager2 table.jquery-enabled thead img.delete
{
  display: none;
  position: absolute;
}

form.datamanager2 table.jquery-enabled thead img.move_left
{
  margin-left: -16px;
}

form.datamanager2 table.jquery-enabled thead img.delete
{
  margin-left: -32px;
}

form.datamanager2 table.jquery-enabled thead img.hover
{
  display: inline;
}

form.datamanager2 table.jquery-enabled thead .deleted img.delete
{
  display: inline !important;
}

form.datamanager2 input.jsdate
{
    margin-right: 1em
}
