/.project
/.buildpath
/.settings
/config.inc.php
/test/config.inc.php
/test/__output
/vendor/*/
/vendor/autoload.php
composer.phar
composer.lock
phpunit.xml
.DS_Store
.directory
*.*~
/var
/vendor
/web
