.calendar-container {
    height: 100%;
}
#content-text .fc-center h2
{
    margin: 0;
    font-size: 20px;
}

.fc-past
{
    background: #fdfcfa;
}

.fc-other-month
{
    background: #f1f1f0;
}

.fc-other-month.fc-past
{
    background: #f0f0ed;
}

.fc-event:hover {
    cursor: pointer;
}

.fc-event.private {
    border: 1px dashed white;
}

.fc-content
{
    text-overflow: ellipsis;
}

.fc-content .fc-title
{
    padding-right: .4em
}

.fc-list-item-title a
{
    cursor: pointer;
}

.fc-list-item-title a .participants
{
    padding-left: .5em
}
