/* "Now working on" rendering */
div.org_openpsa_mypage_workingon
{
    border: 1px solid #daddd6;
    border-radius: 8px;
    padding-left: 24px;
    padding-bottom: 8px;
}
div.org_openpsa_mypage_workingon:hover
{
    box-shadow: 1px 5px 7px #ddd;
}
#content-text div.org_openpsa_mypage_workingon h3
{
    background-color: #e9ede4;
    padding: .2em .6em;
    margin: 0;
    margin-bottom: .4em;
    border-left: solid 1px #babdb6;
    border-bottom: solid 1px #babdb6;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
div.org_openpsa_mypage_workingon form
{
    margin: 6px;
}
div.org_openpsa_mypage_workingon select,
div.org_openpsa_mypage_workingon textarea,
div.org_openpsa_mypage_workingon .ui-autocomplete-input
{
    border: 1px solid #d9ddd4;
    display: inline;
    width: 95%;
}
div#org_openpsa_mypage_workingon_time
{
    color: #333333;
    font-weight: bold;
    display: inline;
    width: 60px;
    font-size: 90%
}

div.org_openpsa_mypage_workingon .controls
{
    margin-top: .7em
}
#org_openpsa_mypage_workingon_loading
{
    text-align: center;
    height: 9.8em;
    padding-top: 2em
}
.org_openpsa_mypage.main .tasks
{
    padding-bottom: 2em;
}
