ol.org_openpsa_relatedto_list
{
    list-style: none;
    margin: 0;
    padding: 4px;
}
ol.org_openpsa_relatedto_list > li
{
    margin-bottom: 1em;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #babdb6;
    border-radius: 8px;
}
ol.org_openpsa_relatedto_list li span.title
{
    background-color: #e9ede4;
    padding: 0 0.5em;
    margin: 0;
    margin-left: 24px;
    border-left: solid 1px #babdb6;
    border-bottom: solid 1px #babdb6;
    border-bottom-left-radius: 8px;
    display: block;
    line-height: 24px;
    font-weight: bold;
    overflow-x: hidden;
}

ol.org_openpsa_relatedto_list li .icon
{
    float: left;
    margin-top: 4px;
    margin-left: 4px
}

ol.org_openpsa_relatedto_list li.unknown
{
    display: block;
}
ol.org_openpsa_relatedto_list li ul.metadata
{
    list-style: none;
    margin: 0;
    padding-top: 3px;
    padding-left: 0.5em;
    padding-right: 6px;
    padding-bottom: 3px;
}
ol.org_openpsa_relatedto_list li ul.metadata li
{
    padding-left: 0;
    margin-top: .3em;
    margin-left: 0;
}
ol.org_openpsa_relatedto_list li ul.relatedto_toolbar
{
    list-style: none;
    margin: 0;
    padding-top: 3px;
    padding-left: 0.5em;
    padding-bottom: 6px;
}
ol.org_openpsa_relatedto_list li ul.relatedto_toolbar li
{
    display: inline;
}
ol.org_openpsa_relatedto_list li ul.relatedto_toolbar li form
{
    display: inline;
}
ol.org_openpsa_relatedto_list div
{
    padding-left: 1em;
    font-size: smaller;
}
ol.org_openpsa_relatedto_list div.ajax_busy
{
    background-image: url('../stock-icons/16x16/ajax-loading.gif');
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}