*
{
    box-sizing: border-box;
}
body
{
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    background-color: white;
    color: #333;
    padding: .5em 1em;
}
body, table
{
    font-size: 14px
}

form.datamanager2 fieldset.fieldset
{
    border-color: #ddd;
    border-radius: .3em
}

form.datamanager2 input[type="text"],
form.datamanager2 input[type="password"],
form.datamanager2 input[type="email"],
form.datamanager2 input[type="url"],
form.datamanager2 textarea
{
    padding: .5em
}
form.datamanager2 .shorttext,
form.datamanager2 .longtext
{
    width: 100%;
}

form.datamanager2 .autocomplete-widget-creation-enabled .shorttext
{
    width: calc(100% - 3em)
}

form.datamanager2 .autocomplete_widget_create_button
{
    padding: 1.1em 0
}

form.datamanager2 .form_toolbar
{
    display: none;
}
