.midcom-workflow-dialog
{
    z-index: 100000;
}

.midcom-view-toolbar
{
    display: none;
}

.midcom-workflow-dialog .ui-dialog-content > i,
.midcom-delete-dialog > .spinner i
{
    font-size: 32px;
    color: orange;
}

.midcom-workflow-dialog .ui-dialog-content > i
{
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

.midcom-delete-dialog > .spinner
{
    height: 40px;
    text-align: center;
    display: none;
}

.midcom-delete-dialog.loading > .spinner
{
    display: block;
}

.midcom-delete-dialog .warning
{
    color: red;
    font-weight: bold;
}

#delete-child-list ul
{
    list-style: none;
    padding-left: 32px;
    padding-bottom: 6px;
    margin-left: 0;
}
