.midcom-workflow-dialog
{
    z-index: 100000;
}

.midcom-view-toolbar
{
    display: none;
}

.midcom-delete-dialog.loading p
{
    display: none;
}

.midcom-delete-dialog.loading #delete-child-list
{
    height: 40px;
    background-image: url('../stock-icons/32x32/ajax-loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.midcom-delete-dialog .warning
{
    color: red;
    font-weight: bold;
}

#delete-child-list ul
{
    list-style: none;
    padding-left: 32px;
    padding-bottom: 6px;
    margin-left: 0;
}
