table.calendarwidget {
    display: block;
    float: left;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin: 0 1.5em 2em 0;
}
table.calendarwidget caption {
    text-align: left;
    font-weight: bold;
    color: #4B6983;
    background-color: transparent;
}
table.calendarwidget thead th.label {
    width: 100px;
    text-align: right;
}
table.calendarwidget thead th.before, table.calendarwidget thead th.after {
    width: 10px;
}
table.calendarwidget thead th {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 10px;
    border-bottom: 1px solid #c0c0c0;
}
table.calendarwidget tbody div.eventlist {
    position: relative;
}

table.calendarwidget tbody th {
    border-bottom: 1px solid #c0c0c0;
    color: #333333;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
table.calendarwidget tbody tr:hover th {
    background-color: #e0e0e0;
}
table.calendarwidget tbody tr th:hover {
    background-color: #ffffff;
}

table.calendarwidget tbody tr {
    line-height: 24px;
}
table.calendarwidget tbody td {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    padding: 0px;
    margin: 0px;
}
table.calendarwidget tbody td:hover {
    background-color: #EED680;
    cursor: pointer;
}
table.calendarwidget .past {
    background-color: #f2f2f4;
}

/* Calendar reservation */
table.calendarwidget tbody div.vevent {
    position: absolute;
    top: 0px;
    display: inline;
    border: 1px solid #826647;
    background: #E0C39E;
    background: -moz-linear-gradient(top, #E0C39E 0%, #E0C39E 50%, #DDB585 51%, #DDC5A8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0C39E), color-stop(50%,#E0C39E), color-stop(51%,#DDB585), color-stop(100%,#DDC5A8));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0C39E', endColorstr='#DDC5A8',GradientType=0 );
    box-shadow: inset 0 0 5px #EFDFBF;
    text-shadow: 1px 0px 3px rgba(255, 255, 255, 0.7);
    color: #000000;
    border-radius: 3px;
    overflow: hidden;
    padding: 1px;
    margin: 0px;
    margin-top: 2px;
    height: 16px;
    line-height: 16px;
    z-index: 10;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis
}
table.calendarwidget tbody div.vevent:hover {
    cursor: pointer;
    background: #EFCFA5;
    background: -moz-linear-gradient(top, #EFCFA5 0%, #E5C599 50%, #DDB67E 51%, #E5C497 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFCFA5), color-stop(50%,#E5C599), color-stop(51%,#DDB67E), color-stop(100%,#E5C497));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFCFA5', endColorstr='#E5C497',GradientType=0 ); /* ie */
    box-shadow: inset 0 0 5px #EFDFBF, 1px 1px 2px rgba(0,0,0,.2);
    border-color: #523617;
}

table.calendarwidget tbody div.private {
    border: 1px solid #663822;
    background-color: #C1665A;
    color: #ffffff;
}
table.calendarwidget tbody div.private:hover {
    background-color: #884631;
}
table.calendarwidget div.vevent span.time, table.calendarwidget div.vevent span.location {
    /* These are here for vCalendar output */
    display: none;
}
table.calendarwidget tbody div.ending_after {
    border-right: none;
    padding-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
table.calendarwidget tbody div.starting_before {
    border-left: none;
    padding-left: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

table.calendarwidget tbody span.assignee {
    position: relative;
    display: block;
    width: 90px;
    padding-left: 2px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    font-size: 90%;
}


/* Old week calendar */
#org_openpsa_widgets_calendar div.day {
    float: left;
    margin-right: 10px;
    padding: 7px;
    margin: 10px;
    border: 1px solid #eeeeee;
}
#org_openpsa_widgets_calendar div.month div.day {
    overflow: hidden;
}
#org_openpsa_widgets_calendar div.day h2 {
    color: #314E6C;
    margin: 0px;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
}
#org_openpsa_widgets_calendar div.month div.day h2 {
    font-size: smaller;
}
#org_openpsa_widgets_calendar div.calendar_column {
    float: left;
    width: 60px;
    overflow: hidden;
    margin: 0px;
    position: relative;
    border: 1px solid red;
}

#org_openpsa_widgets_calendar div.calendar_column h3 {
    margin: 0px;
    padding: 0px;
    height: 22px;
    padding-top: 2px;
    font-size: 15px;
    color: #314E6C;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
#org_openpsa_widgets_calendar div.calendar_column:hover h3 {
    background-color: #4B6983;
    color: #ffffff;
    border-radius: 3px;
}
#org_openpsa_widgets_calendar div.calendar_column h3.statusinfo {
    background-image: url("gnome-status.png");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 24px;
}

#org_openpsa_widgets_calendar div.calendar_column div {
    border: none;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
#org_openpsa_widgets_calendar div.times {
    width: 25px;
}
#org_openpsa_widgets_calendar div.times h3, #org_openpsa_widgets_calendar div.times:hover h3 {
    padding-top: 7px;
    height: 17px;
    font-size: 10px;
    width: 19px;
    color: #000000;
    text-align: right;
    font-weight: normal;
    background-color: transparent;
}
#org_openpsa_widgets_calendar div.times div {
    text-align: right;
    width: 19px;
    padding: 1px;
    border-bottom: 1px solid #eeeeee;
    padding-right: 5px;
    font-size: 10px;
}
#org_openpsa_widgets_calendar div.times div.past, #org_openpsa_widgets_calendar div.month div.past {
    background-color: #EAE8E3;
}
#org_openpsa_widgets_calendar ul.reservations {
    font-size: smaller;
    padding: 0px;
    margin: 0px;
}
#org_openpsa_widgets_calendar ul.reservations li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#org_openpsa_widgets_calendar div.reservations div, #org_openpsa_widgets_calendar ul.reservations li span.reservation {
    border-radius: 3px;
    border: 1px solid #826647;
    background-color: #E0C39E;
    color: #000000;
    margin: 1px;
    font-size: 9px;
    padding: 1px;
    padding-left: 2px;
    overflow: hidden;
    cursor: pointer;
}
#org_openpsa_widgets_calendar div.reservations div:hover, #org_openpsa_widgets_calendar ul.reservations li span.reservation:hover {
    background-color: #B39169;
}
#org_openpsa_widgets_calendar div.red div, #org_openpsa_widgets_calendar ul.red li span.reservation {
    border: 1px solid #663822;
    background-color: #C1665A;
    color: #ffffff;
}
#org_openpsa_widgets_calendar div.red div:hover, #org_openpsa_widgets_calendar ul.red li span.reservation:hover {
    background-color: #884631;
}
#org_openpsa_widgets_calendar div.blue div, #org_openpsa_widgets_calendar ul.blue li span.reservation {
    border: 1px solid #314E6C;
    background-color: #7590AE;
    color: #ffffff;
}
#org_openpsa_widgets_calendar div.blue div:hover, #org_openpsa_widgets_calendar ul.blue li span.reservation:hover {
    background-color: #4B6983;
}
#org_openpsa_widgets_calendar div.reservations .free {
    border: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #eeeeee;
    padding-top: 1px;
    background-color: #ffffff;
    border-radius: 0px;
}

#org_openpsa_widgets_calendar div.reservations .free:hover {
    background-color: #EED680;
    border-top: 1px solid #EED680;
    padding-top: 0px;
}
#org_openpsa_widgets_calendar div.reservations .past {
    background-color: #FAF8F3;
}
#org_openpsa_widgets_calendar div.times div.end, #org_openpsa_widgets_calendar div.reservations .end {
    border-bottom-color: #ffffff;
}
#org_openpsa_widgets_calendar div.times div.start, #org_openpsa_widgets_calendar div.reservations .start {
    border-top-color: #ffffff;
}