/* hCard rendering */
div.vcard div.n {
    font-weight: bold;
    margin-bottom: .3em
}
div.vcard div.n a {
    text-decoration: none;
}
div.vcard ul {
    padding: 0px;
    margin: 0px;
}
div.vcard ul.contact_information li {
    list-style: none;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 155px;
    white-space: nowrap
}
div.vcard ul li > a {
    min-height: 16px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
div.vcard ul li i.fa {
	padding-right: .3em;
	width: 1em;
	text-align: center;
	font-size: 11px;
	vertical-align: baseline;
	opacity: .5;
	transition: opacity .2s
}
div.vcard ul li:hover a i.fa {
	opacity: .75
}

/* Styles for inline persons */
span.vcard a {
    text-decoration: none;
}

span.vcard a i {
    opacity: .5;
    transition: opacity .2s
}

span.vcard a:hover i {
    opacity: 1;
}
