/* hCard rendering */
div.vcard div.n {
    font-weight: bold;
    margin-bottom: .3em
}
div.vcard div.n a {
    text-decoration: none;
}
div.vcard div.n a .family-name {
    display: block;
}
div.vcard ul {
    padding: 0;
    margin: 0;
}

div.vcard img.photo,
div.vcard i.fa {
    max-height: 32px;
    max-width: 32px;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
}
div.vcard i.fa {
    opacity: .5;
    font-size: 28px;
}

div.vcard ul.contact_information li {
    list-style: none;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 155px;
    white-space: nowrap
}
div.vcard ul li > a {
    min-height: 16px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
div.vcard ul li i.fa {
	padding-right: .3em;
	width: 1em;
	text-align: center;
	font-size: 11px;
	vertical-align: baseline;
	opacity: .5;
	transition: opacity .2s
}
div.vcard ul li:hover a i.fa {
	opacity: .75
}

/* Styles for inline persons */
span.vcard a {
    text-decoration: none;
    display: inline-flex;
}

span.vcard .family-name {
    white-space: pre;
}

span.vcard .family-name::before {
    content: ' ';
}

span.vcard a:hover {
    text-decoration: underline;
}

span.vcard a i,
span.vcard a img.photo {
    opacity: .7;
    transition: opacity .2s;
    margin-right: 4px;
}

span.vcard img.photo {
    max-height: 1em;
    max-width: 1em;
    border-radius: 2px;
    display: inline-block;
    align-self: center;
}

span.vcard a:hover i,
span.vcard a:hover img {
    opacity: 1;
}
