.ui-jqgrid-maximized
{
    position: absolute;
    z-index: 20
}
.ui-jqgrid-maximized-background
{
    display: none;
}

a.ui-jqgrid-titlebar-maximize {
    height: 18px;
    margin: -8px 0 0;
    position: absolute;
    right: 20px;
    top: 50%;
    vertical-align: middle;
}
.ui-jqgrid tr.jqgrow td a img
{
    border: none;
    vertical-align: text-bottom;
}

.ui-jqgrid tr.jqgrow td.longtext
{
    white-space: pre-wrap
}

.ui-jqgrid tr.jqgrow td.multiline
{
    white-space: pre-wrap;
}

.ui-jqgrid tr.jqgrow td.multiline .title
{
    font-weight: bold
}

.ui-jqgrid tr.jqgrow td.multiline .details
{
    color: #444;
    margin: .3em 0;
    padding-left: .3em
}

.ui-jqgrid tr.jqgrow td.numeric
{
    text-align: right;
}


.grid-controls
{
    margin-bottom: .6em
}

.grid-controls form
{
    display: inline
}
