.slideshow-editor
{
    margin-top: 1em;
    display: table;
    max-width: 100%;
}

#entry-viewer
{
    display: table-cell;
    vertical-align: top;
    width: 49%;
}

#entry-viewer .widget
{
    display: none;
}

#entry-viewer.active .widget
{
    display: block;
}

#entry-viewer .image
{
    border: 1px solid #ddd;
    text-align: center
}

#entry-viewer .image img
{
    max-width: 500px;
    max-height: 400px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#entry-viewer .filename
{
    float: right;
    color: #555
}

#entry-viewer .title input,
#entry-viewer .description textarea
{
    border: none;
    background-color: transparent
}

#entry-viewer .title input
{
    font-weight: bold;
    margin: .4em 0;
}

#item_container
{
    width: 49%;
    margin-top: 1em;
    display: table-cell;
    padding-right: 2%;
}

#item_container .entry
{
    display: inline-block;
    padding: .2em;
    cursor: move;
    margin-bottom: 1em;
    border-radius: .15em;
    width: 80px;
    overflow: hidden;
}

#item_container .entry-template
{
    display: none;
}

#item_container .entry:hover
{
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
    background-color: white;
}

#item_container .ui-sortable-helper
{
    opacity: .8
}

#item_container .entry
{
    position: relative
}

#item_container .entry .thumbnail
{
    border: 1px solid #ddd;
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    background-color: #d9d9d9;
    background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
}

#item_container .entry.active .thumbnail
{
    border-color: highlight
}

#item_container .entry .thumbnail img
{
    max-width: 80px;
    max-height: 80px;
    display: table-cell;
    vertical-align: middle
}
#item_container .entry .details
{
    display: inline;
}

#item_container .entry .details .filename
{
    font-size: .8em;
    color: #555;
    display: block;
    padding-bottom: .3em;
    padding-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}

#item_container .entry .controls
{
    z-index: 2;
    position: absolute;
    right: 2px;
    top: 2px;
}

#item_container .entry .controls .action
{
    float: right;
    height: 16px;
    width: 16px;
    margin-left: 6px;
    margin-bottom: 3px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    color: white;
    opacity: .5;
}

#item_container .entry:hover .controls .action
{
    opacity: .7;
}

#item_container .entry .controls .action:hover
{
    opacity: 1;
}

#item_container .entry .controls .image-delete
{
    display: none;
    background-color: red;
}
#item_container .entry:hover .controls .image-delete
{
    display: block;
}

#item_container .entry-deleted .controls .image-delete,
#item_container .entry-deleted:hover .controls .image-delete
{
    display: none;
}

#item_container .entry .controls .image-cancel-delete
{
    display: none;
    background-color: green;
}

#item_container .entry-deleted .controls .image-cancel-delete
{
    display: block;
}

#item_container .entry .details textarea,
#item_container .entry .details input
{
    display: none;
}

#item_container .entry-deleted .thumbnail,
#item_container .entry-deleted .filename
{
    opacity: .4;
}

#item_container .entry-deleted .details
{
    display: block;
}

#progress_dialog
{
    display: none;
}

#progress_bar .progress-label
{
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(255, 255, 255, .9);
}

.progress-counter
{
    margin-top: 5px;
}

.progress-counter .progress-filesize
{
    float: right;
}