table.midcom_admin_libconfig
{
  background-color: #eeeeef;
  padding: 0.5em;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: auto;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;

}

table.midcom_admin_libconfig tr td
{
    padding: 4px;
    text-align: left;
    vertical-align:top;
    min-width:50%;
}

table.midcom_admin_libconfig tr.odd
{
    background: #cccccc;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #000;
}

table.midcom_admin_libconfig tr.even
{
    background: #d3d7cf;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

table.midcom_admin_libconfig tr.header th
{
  background-color: #dddddf;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

table.midcom_admin_libconfig tr td.key
{
    font-weight: bold;
}

table.midcom_admin_libconfig tr td.global
{
    color: #666633;
}

table.midcom_admin_libconfig tr td.local
{
    color: #336633;

}



table.midcom_admin_libconfig tr td ul,
table.midcom_admin_libconfig tr td ul ul
{
    padding: 0px;
    margin:0px;
}

table.midcom_admin_libconfig tr td li,
table.midcom_admin_libconfig tr td li ul li
{
    padding-left: 20px;
    margin:0px;
    list-style:none;
}


table.midcom_admin_libconfig tr td span
{
    display: block;
    overflow: auto;
}

#content-text h1
{
    padding-left: 0.5em;
    font-size: 150%;
}

.processing_message
{
    background: #eeeeef;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px red;
    margin-top: 1em;
    padding-left: 0.5em;
}

div.global
{
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px red;
    background:white;
    padding: 5px;
    color: red;
}

