table.midcom_admin_libconfig
{
  background-color: #eeeeef;
  padding: 0.5em;
  border-radius: 4px;
  width: auto;
  border-bottom: solid 1px #555;
  border-right: solid 1px #555;
}

table.midcom_admin_libconfig tbody tr td,
table.midcom_admin_libconfig tbody tr th
{
    padding: 4px;
    text-align: left;
    vertical-align:top;
    min-width:50%;
    border-radius: 3px;
}

table.midcom_admin_libconfig tbody tr th
{
     background: #cccccc;
     border: solid 1px #555;
}

table.midcom_admin_libconfig tbody tr td
{
     background: #d3d7cf;
}

table.midcom_admin_libconfig thead th
{
  background-color: #dddddf;
  border-bottom: solid 1px #555;
  border-right: solid 1px #555;
  border-radius: 3px;
}

table.midcom_admin_libconfig tr td.key
{
    font-weight: bold;
}

table.midcom_admin_libconfig tr td.global
{
    color: #666633;
}

table.midcom_admin_libconfig tr td.local
{
    color: #336633;
}

table.midcom_admin_libconfig tr td ul,
table.midcom_admin_libconfig tr td ul ul
{
    padding: 0;
    margin:0;
}

table.midcom_admin_libconfig tr td li,
table.midcom_admin_libconfig tr td li ul li
{
    padding-left: 20px;
    margin:0;
    list-style:none;
}


table.midcom_admin_libconfig tr td span
{
    display: block;
    overflow: auto;
}

#content-text h1
{
    padding-left: 0.5em;
    font-size: 150%;
}

.processing_message
{
    background: #eeeeef;
    border-radius: 4px;
    border: solid 1px red;
    margin-top: 1em;
    padding-left: 0.5em;
}

div.global
{
    border-radius: 6px;
    border: solid 1px red;
    background:white;
    padding: 4px;
    color: red;
}
