dl.midgard_admin_asgard_rcs_diff dt
{
    font-weight: bold;
}
dl.midgard_admin_asgard_rcs_diff span.deleted
{
    color: #cc0000;
    text-decoration: line-through;
}
dl.midgard_admin_asgard_rcs_diff span.inserted
{
    background-color: #e0ffa0;
    color: #000000;
}

dl.midgard_admin_asgard_rcs_diff dd
{
    white-space: pre-wrap
}

dl.midgard_admin_asgard_rcs_diff table
{
    width: 90%
}
dl.midgard_admin_asgard_rcs_diff .Right,
dl.midgard_admin_asgard_rcs_diff .Left
{
    width: 45%
}

dl.midgard_admin_asgard_rcs_diff .line-number
{
    text-align: right;
    color: #444;
    font-weight: normal;
    padding-right: .7em;
    vertical-align: top;
}

dl.midgard_admin_asgard_rcs_diff td
{
    vertical-align: top;
}

div.rcs_navigation
{
  text-align: center;
}

div.rcs_navigation ul
{
  margin: 0;
  list-style: none;
  margin-top: 4px;
}

div.rcs_navigation ul li
{
  display: inline;
  padding: 0 0.5em;
}

div.rcs_navigation ul li img,
div.rcs_navigation ul li a img
{
  border: none;
  vertical-align: middle;
}

div.rcs_navigation ul li abbr
{
  border: none;
}

#midgard_admin_asgard_rcs_version_compare table
{
  border-spacing: 0;
  border-collapse: collapse;
}

#midgard_admin_asgard_rcs_version_compare tbody tr td
{
  padding-right: 1em;
}

#midgard_admin_asgard_rcs_version_compare tbody tr.selected
{
  background-color: #eeeeef;
}

#midgard_admin_asgard_rcs_version_compare thead th
{
  border-bottom: solid 1px black;
  text-align: left;
}

#midgard_admin_asgard_rcs_version_compare thead th.header
{
  background-image: url('arrow-none.gif');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 16px;
  cursor: pointer;
}

#midgard_admin_asgard_rcs_version_compare thead th.header:hover
{
  background-color: #eeeeef;
}

#midgard_admin_asgard_rcs_version_compare thead th.headerSortDown
{
  background-image: url('arrow-down.gif');
}

#midgard_admin_asgard_rcs_version_compare thead th.headerSortUp
{
  background-image: url('arrow-up.gif');
}

