table.expenses
{
    border-collapse: collapse
}

table.expenses thead th
{
    border-bottom: 1px solid black
}

table.expenses tbody th
{
    text-align: left;
}

table.expenses td,
table.expenses th
{
    padding: 2px 5px
}

table.expenses td.person
{
    padding-left: 15px;
}

table.expenses td.numeric,
table.expenses th.numeric
{
    text-align: right;
}

table.expenses tr.totals td,
table.expenses tr.totals th
{
    border-top: 1px solid black
}

table.expenses tr.even td,
table.expenses tr.even th 
{
    background-color:#E0E0E0;
}
.person_filter
{
    /*border: 1px solid;*/
    background-color: #E0E0E0;
}
.person_filter_chooser
{
    border: 1px solid;
    background-color: #3465A4;
    color: #FFFFFF;
}