.ui-jqgrid-maximized
{
    position: absolute;
    z-index: 20
}
.ui-jqgrid-maximized-background
{
    display: none;
}

.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-maximize
{
	vertical-align: middle;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 1.4em;
    line-height: 1.5em;
    font-size: 12px;
    margin: -.7em 0 0 0;
    padding: .2em;
    border: 1px solid transparent;
    height: 1.4em;
    cursor: pointer;
}

a.ui-jqgrid-titlebar-maximize span
{
    font-size: 14px;
	display: block;
	margin-top: -2px
}

.ui-jqgrid tr.jqgrow td a img
{
    border: none;
    vertical-align: text-bottom;
}

.ui-jqgrid tr.jqgrow td.longtext
{
    white-space: pre-wrap
}

.ui-jqgrid tr.jqgrow td.multiline
{
    white-space: pre-wrap;
    padding: .2em;
}

.ui-jqgrid tr.jqgrow td.multiline .title
{
    font-weight: bold
}

.ui-jqgrid tr.jqgrow td.multiline .details
{
    color: #444;
    margin-top: .3em;
    padding-left: .3em
}

.ui-jqgrid tr.jqgrow td.numeric
{
    text-align: right;
}

.ui-jqgrid tr.jqgrow td.grid-button i
{
	opacity: .5;
	transition: opacity .2s;
	cursor: pointer;
}

.ui-jqgrid tr.jqgrow td.grid-button i:hover
{
	opacity: 1;
}

.ui-jqgrid tr.jqgrow td.grid-button i.fa-trash
{
	color: #ee2b2b
}

.ui-jqgrid tr.jqgrow td.warn
{
    color: orange
}

.grid-controls
{
    margin-bottom: .6em
}

.grid-controls form
{
    display: inline
}

.batch-processing > form
{
	display: inline-block;
	margin-right: 2em
}
