.fi_protie_navigation
{
  height: 1.2em;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  z-index: 100;
  background-color: #ffffff;
}

.fi_protie_navigation a
{
  text-decoration: none;
  padding: 0 0.3em;
  white-space: nowrap;
  margin: 0;
  display: block;
}

.fi_protie_navigation a:hover
{
  text-decoration: underline;
}

.fi_protie_navigation ul
{
  margin: 0;
  padding: 0;
  border-color: #000000;
  border-width: 1px;
  list-style: none !important;
}

.fi_protie_navigation ul ul
{
  height: auto;
  position: absolute;
  border-style: solid solid none none;
  margin-left: -1px;
  background-color: #ffffff;
}

.fi_protie_navigation > ul ul
{
  margin-top: -1px;
}

.fi_protie_navigation li
{
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border-style: none solid none none;
  border-color: #000000;
  border-width: 1px;
  list-style: none;
}


.fi_protie_navigation li:hover
{
  background-color: #eeeeee;
}

.fi_protie_navigation ul ul li
{
  position: relative;
  float: none;
  border-style: none none solid solid;
  line-height: auto;
}

.fi_protie_navigation ul ul ul
{
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -5px;
  margin-top: -1px;
}

.fi_protie_navigation > ul ul ul
{
  margin-left: 0;
}

.fi_protie_navigation ul li:hover > ul ul,
.fi_protie_navigation ul ul,
.fi_protie_navigation ul li:hover ul ul,
.fi_protie_navigation ul ul li:hover ul ul,
.fi_protie_navigation ul ul ul li:hover ul ul,
.fi_protie_navigation ul ul ul ul li:hover ul ul
{
  display: none;
}

.fi_protie_navigation ul li:hover > ul,
.fi_protie_navigation ul li:hover ul,
.fi_protie_navigation ul ul li:hover ul,
.fi_protie_navigation ul ul ul li:hover ul,
.fi_protie_navigation ul ul ul ul li:hover ul,
.fi_protie_navigation ul ul ul ul ul li:hover ul
{
  display: block;
  list-style: none !important;
}
