Source: openpsa2
Section: web
Priority: extra
Maintainer: Henri Bergius <henri.bergius@iki.fi>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://openpsa2.org/
Vcs-Git: git://github.com/nemein/openpsa.git
Vcs-Browser: https://github.com/nemein/openpsa

Package: openpsa2
Architecture: all
Depends: ${misc:Depends}, php5-midgard2, lighttpd, php5-cgi, php5-cli
Description: Management software suite for consulting companies
 OpenPSA is a management suite for web agencies and consultants that
 provides a unified interface for handling many common business processes.
 The OpenPSA suite includes functionalities like calendaring and
 contact management, product configurations, sales processes, project
 management and invoicing.
