#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

binary-arch: binary-indep

build:
	dh_testdir

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	cp -a README.markdown $(CURDIR)/debian/openpsa2/usr/share/doc/openpsa2/
	cp -a debian/copyright $(CURDIR)/debian/openpsa2/usr/share/doc/openpsa2/
	cp -a config/midgard.conf $(CURDIR)/debian/openpsa2/etc/midgard2/conf.d/openpsa2
	cp -a config/midgard_auth_types.xml $(CURDIR)/debian/openpsa2/usr/share/openpsa2/
	cp -a config/MidgardObjects.xml $(CURDIR)/debian/openpsa2/usr/share/openpsa2/ 
	cp -a config/php.ini $(CURDIR)/debian/openpsa2/etc/php5/cgi/conf.d/openpsa2.ini
	cp -a config/lighttpd.conf $(CURDIR)/debian/openpsa2/etc/lighttpd/conf-enabled/openpsa2.conf
	cp -a rootfile.php $(CURDIR)/debian/openpsa2/usr/share/php5/openpsa2/
	cp -a quick_init.php $(CURDIR)/debian/openpsa2/usr/share/openpsa2/
	cp -a lib/* $(CURDIR)/debian/openpsa2/usr/share/php5/openpsa2/lib/
	cp -a schemas/* $(CURDIR)/debian/openpsa2/usr/share/openpsa2/schema/
	cp -a static/* $(CURDIR)/debian/openpsa2/usr/share/openpsa2/www/
	cp -a themes/* $(CURDIR)/debian/openpsa2/etc/openpsa2/themes/


clean:
	dh_clean
	rm -rf $(CURDIR)/debian/openpsa2/
