body
{
    font-family: 'Lucida Grande', 'Segoe UI', 'Lucida Sans', 'Arial', sans-serif
}

.content-with-sidebar
{
    display: flex;
    align-items: flex-start
}

.content-with-sidebar > div.main
{
    padding-right: 1em;
    width: 70%;
}
.content-with-sidebar > aside
{
    width: 30%;
}

#content-text aside div.vcard
{
    float: none;
    display: inline-block;
}

#content-text div.wide
{
    width: 100%;
    clear: both
}

#content-text
{
    padding: 1em;
    overflow: auto;
    position: relative
}

#content-text h1
{
  display: none;
}

#content-text h2
{
    font-size: 120%;
    margin: 1em 0 .5em 0
}

#content-text h3
{
  font-size: 100%;
}

#content-text h4
{
  font-size: 100%;
}

aside .area
{
    margin-bottom: 1.5em;
}

aside .org_openpsa_helper_box
{
    font-size: 90%;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #daddd6;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: .3em;
}

aside .org_openpsa_helper_box h3
{
    color: #24436e;
    background-color: #e9ede4;
    background: -ms-linear-gradient(top, #f4f4ef 0%,#e7e6e0 76%,#e7e6e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f4ef 0%,#e7e6e0 76%,#e7e6e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4ef', endColorstr='#e7e6e0',GradientType=0 ); /* IE6-9 */

    padding: .2em 0.5em;
    margin: 0;
    border: none;
    border-bottom: solid 1px #d2d6cd;
    border-radius: 6px 6px 0 0;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: .3em;
}

.org_openpsa_helper_box ul
{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.org_openpsa_helper_box li
{
    margin-top: .7em;
}

.org_openpsa_helper_box .date
{
    color: #777;
}

.org_openpsa_helper_box span.tip
{
  display: block;
  padding: 0.5em;
}

.org_openpsa_helper_box div.current-status
{
  font-size: larger;
  margin-bottom: 4px;
}

.org_openpsa_user_badPass, .org_openpsa_user_shortPass
{
    color: red;
}
.org_openpsa_user_goodPass, .org_openpsa_user_strongPass
{
    color: green;
}
