body {
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    background-image: url(../org.openpsa.core/rorschach.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
}

div.login-container
{
    width: 30%;
    min-width: 26em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

div.login-header img {
    margin-left: 50px;
    border: none;
}
div.login-header h1 {
    color: #314E6C;
}
.login_warning {
    color: red;
    margin-top: 0;
    text-align: center
}

.login-form-container {
    padding: 1ex 1ex 0 1ex;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    position: relative;
    min-width: 26em;
    margin-bottom: .4em;
    background: white;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F9F9F9 32%, #F9F9F8 96%, #FCFCFC 100%);
}

.login-form-container:hover
{
    box-shadow: 1px 5px 7px #ccc;
}

#midcom_login_form label {
    margin-left: 0;
    padding-left: 0;
    display: block;
}

#midcom_login_form label .field_label {
    display: block;
    float: left;
    padding-right: 0.7em;
    text-align: right;
    width: 12em;
    line-height: 1.8em
}

#midcom_login_form label br {
    display: none;
}

#midcom_login_form .input {
    width: 12em
}

#midcom_login_form .clear {
    height: 3em;
}

#midcom_services_auth_frontend_form_submit {
    margin-left: 12.7em
}

div.org_openpsa_softwareinfo {
    font-size: smaller;
    padding-right: .5em;
    color: #777;
    text-align: right
}

div.org_openpsa_softwareinfo a {
    text-decoration: none;
    color: #777
}

div.org_openpsa_softwareinfo a:hover {
    text-decoration: underline;
}
