body
{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

header
{
    position: fixed;
    width: 100%;
}

#container,
select,
button,
input
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#container
{
    display: flex;
    flex-direction: column;
}

#content
{
    padding: calc(60px + 1.5em) 1.5em 2em 1.5em;
    background-color: white;
    flex: 1 1 auto;
}
#content.no-header
{
    padding-top: 1em;
}
#container a
{
  color: #24436e;
}
#container a:link,
#container a:visited
{
  text-decoration: none;
}

#org_openpsa_toolbar
{
    background-color: #e0e2dd;
    background: linear-gradient(to bottom,  #e1e3de 0%,#d8dbd4 100%);
    border-bottom: 1px solid #dee1db;
    line-height: 16px;
    margin-bottom: 4px;
}

#org_openpsa_toolbar ul
{
  margin: 0;
  padding: 0.5em 1em;
  list-style-type: none;
}

#org_openpsa_toolbar ul a
{
  color: #000000;
}

#org_openpsa_toolbar ul a img
{
  border: none;
}

#org_openpsa_toolbar ul li
{
  border-left: solid 1px #000000;
  display: inline;
  padding: 0 0.5em;
  white-space: nowrap;
}

#org_openpsa_toolbar ul li:first-child
{
  border: none;
}

#org_openpsa_toolbar ul li.disabled
{
  display: none;
}

#container h1
{
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 6px 6px 2%;
  font-size: 1.4em;
  background-color: #3364a3;
  color: #ffffff;
}

form.datamanager2 div.form_toolbar
{
    display: none;
}