html, body {
    height: auto;
}
#content
{
  font-size: 90%;
  margin-left: 0 !important;
}

#branding,
#leftframe,
#content-menu .context,
#org_openpsa_toolbar,
#template_openpsa2_resizer,
.midcom_services_toolbars_fancy
{
  display: none !important;
}

#content-menu {
    background: transparent
}

#breadcrumb
{
  font-size: 90%;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000000;
}

#content-text
{
    padding: 0 !important;
    overflow: visible;
}

a
{
    color: black;
    text-decoration: none
}
