html, body
{
    height: 100%
}

body
{
  margin: 0;
  padding: 0;
  background-color: #d3d7cf;
  color: #222;
  font-family: 'Lucida Grande', 'Segoe UI', 'Lucida Sans', 'Arial', sans-serif;
}

body,
input,
button,
select
{
    font-family: 'Lucida Grande', 'Segoe UI', 'Lucida Sans', 'Arial', sans-serif;
    font-size: 12px;
}

#container
{
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

a
{
    color: #14335e;
}

a:link,
a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#leftframe
{
  height: 100%;
  background-color: #24436e;
  width: 240px;
  position: fixed;
  left: 0px;
  overflow-x: hidden;
  overflow-y: visible;

  background: #31373b; /* Old browsers */
  background: -ms-linear-gradient(top, #31373b 60px,#264977 115px,#264977 100%); /* IE10+ */
  background: linear-gradient(to bottom, #31373b 60px,#264977 115px,#264977 100%); /* W3C */
  box-shadow: -4px 72px 12px rgba(0, 0, 0, 0.2) inset
}

#leftframe:hover
{
    z-index: 5;
    overflow-x: visible
}

#branding
{
    background-color: #fff;
    height: 67px;
}

#branding div.grouplogo
{
  text-align: center;
  padding: 1em 0.5em;
}

#branding a img
{
  border: none;
}

#nav
{
    overflow: auto;
    height: calc(100% - (43px + 2em));
}

#nav > ul
{
    background-color: transparent;
    padding: .5em 0;
    font-family: inherit;
    outline: none;
}

#nav .fancytree-node
{
    transition: background 0.3s ease-out 0s
}

#nav .fancytree-active,
#nav .fancytree-selected.fancytree-exp-c,
#nav .fancytree-node:hover
{
    background-color: rgba(70, 120, 180, 0.6);
}

#nav .fancytree-node:hover
{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15), inset 0 0 4px rgba(220, 220, 255, .1);
    cursor: pointer;
}

#nav a,
#nav .fancytree-expander
{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#nav .fancytree-label
{
    margin-left: 0;
    padding-left: 0;
}

#nav .fancytree-expander
{
    padding-right: .4em;
    padding-left: .25em;
}

#nav .fancytree-active .fancytree-label,
#nav .fancytree-selected .fancytree-label
{
    color: white;
}

#nav .fancytree-active .fancytree-label
{
    font-style: normal;
    font-weight: bold;
}

#nav > ul > li > ul
{
    box-shadow: 2px 0 50px rgba(0, 0, 0, 0.18) inset;
}

#nav ul ul .fancytree-node
{
    border-radius: .6em 0 0 .6em;
}

#nav ul ul .fancytree-label,
#nav ul ul .fancytree-expander
{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#nav .fancytree-expander
{
    cursor: pointer;
    background: none;
    float: left;
    margin-top: 0;
}

#nav .fancytree-has-children .fancytree-expander:after
{
    content: '';
    border-color: transparent transparent transparent white;
    border-width: 4px 4px 4px 6px;
    border-style: solid;
    height: 0;
    display: block;
    opacity: .4;
    position: relative;
    top: .3em;
    left: .5em
}

#nav .fancytree-expanded .fancytree-expander:after
{
    border-width: 5px;
    transform: rotate(45deg);
    top: .6em;
}

#nav .fancytree-selected.fancytree-expanded .fancytree-expander:after
{
    opacity: .6
}

#nav .fancytree-has-children .fancytree-expander:hover:after
{
    opacity: 1
}

#nav .fancytree-icon
{
    display: none
}

#nav a
{
    display: block;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    background: transparent;
    border: none;
    outline: none;
}

#nav .fancytree-node:hover .fancytree-label
{
    color: white;
}


#container #template_openpsa2_resizer
{
  position: fixed;
  top: 0;
  bottom: 0;
  cursor: w-resize;
  cursor: col-resize;
  background-color: #ce5c00;
  width: 2px;
}

#container #template_openpsa2_resizer:hover,
#container #template_openpsa2_resizer.hover,
#container #template_openpsa2_resizer.ui-draggable-dragging
{
  background-color: #eeeeef;
  visibility: visible;
  width: 10px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  margin-left: -4px
}

#content
{
  background-color: #ffffff;
  min-height: 100%;
  height: 100%;
  margin-left: 240px;
}

#container > #content
{
  height: auto;
}

#content-menu
{
  background-color: #ededeb;
  height: 39px;

  background: #ededeb; /* Old browsers */
  background: -ms-linear-gradient(top, #ededeb 0%,#e8e8e5 60%,#e5e5de 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ededeb 0%,#e8e8e5 60%,#e5e5de 100%); /* W3C */

  padding: 0.5em 1em 2em 1em;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
}

#content-menu input.submit
{
  background-color: #d3d7cf;
  border-radius: 0;
  padding: 0 0.5em;
  color: #ffffff;
  font-weight: bold;
  font-size: 90%;
}

#content-menu input.submit:hover
{
  background-color: #abb4c4;
  border-color: #888888;
}

#content-menu #breadcrumb
{
  font-size: 80%;
  font-weight: bold;
  float: left;
  text-align: left;
}

#content-menu #breadcrumb span.pagetitle
{
  display: block;
  font-size: 200%;
  padding-top: 0.7em;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  text-overflow: ellipsis;
  max-height: 38px;
  margin-right: 150px;
  overflow: hidden;
}

#content-menu div.context
{
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  z-index: 50;
}

#content-menu ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content-menu ul li
{
  border-left: solid 1px #000000;
  padding: 0 0.5em;
  display: inline;
}
#content-menu ul li.disabled
{
  display: none;
}
#content-menu ul li:first-child
{
  border: none;
}

#content-menu a
{
  color: #000000;
}

#content-menu img
{
  border: none;
  vertical-align: bottom;
}
#content-menu #midcom_services_toolbars_minimizer
{
    background: url('../stock-icons/logos/midgard-16x16.png') no-repeat top right;
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    vertical-align: bottom;
    position: static
}
#content-menu #midcom_services_toolbars_minimizer.toolbar-visible
{
    opacity: .5
}

#content-menu .logout .fa
{
    color: #d41f2a;
    font-size: 16px;
    opacity: .7;
    transition: opacity .2s;
    vertical-align: bottom;
}
#content-menu .logout:hover .fa
{
    color: #d41f2a;
    font-size: 16px;
    opacity: 1;
}

#org_openpsa_search_form
{
    position: relative;
    margin-top: 0.5em;
    width: 14.3em;
    float: right
}

ul#org_openpsa_search_providers
{
    display: none;
    text-align: left;
    position: absolute;
    top: 20px;
    background-color: white;
    font-weight: normal;
    padding: .2em 0;
    z-index: 10;
    border: 1px solid #777;
    border-top: 0;
    box-shadow: .1em .2em .5em rgba(0, 0, 0, .3);
}

ul#org_openpsa_search_providers li
{
    display: block;
    border: none;
    padding: .2em .4em;
    font-size: 1em
}

ul#org_openpsa_search_providers li:hover
{
    background-color: #3364A3;
    color: white;
    cursor: pointer
}

ul#org_openpsa_search_providers li.current
{
    font-weight: bold
}

#org_openpsa_search_trigger
{
    height: 16px;
    width: 20px;
    padding: 1px 0;
    border: 1px solid #777;
    border-radius: .6em 0 0 .6em;
    position: absolute;
    right: 12.3em;
    background-color: white;
    cursor: pointer;
    opacity: .5;
    text-align: center;
    color: #777
}
#org_openpsa_search_trigger i
{
    font-size: 14px;
}

input#org_openpsa_search_query
{
    background-image: none;
    position: relative;
    right: .5em;
    display: none;
    background-color: white;
    color: #000;
    border: 1px solid #777;
    border-radius: 0 .6em .6em 0;
    padding: 0;
    text-align: left;
    height: 18px;
    width: 10.5em;
    box-shadow:
        1px 0px 1px #dadad9 inset,
        0 1px 1px #C3C3C1 inset,
        -1px 0 1px #fAfEfd inset,
        0 -1px 1px #FaFEFd inset;
    opacity: .5
}

#org_openpsa_search_trigger.focused
{
    border-radius: .6em 0 0 0;
}

#org_openpsa_search_query:hover,
#org_openpsa_search_trigger:hover
{
    opacity: .7
}

#org_openpsa_search_query:focus,
#org_openpsa_search_trigger.focused
{
    opacity: 1
}

.org_openpsa_toolbar
{
    white-space: nowrap;
    position: relative;
    z-index: 10;
    font-size: 11px;
    display: flex;
}

#content .org_openpsa_toolbar
{
    background: #cccec9;
    background: linear-gradient(to bottom, #cccec9 0%, #bcbfbb 82%, #b1b5b4 97%, #b3b7b6 100%);
    box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.1) inset;
}

#org_openpsa_toolbar
{
    border-top: 1px solid #eeeee7;
    border-bottom: 1px solid #a2a2a3;
}

#org_openpsa_toolbar:hover
{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #929293;
}

.org_openpsa_toolbar ul.midcom_toolbar
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0.2em 0.4em 0.2em 0;
}

#org_openpsa_toolbar ul.navigation_toolbar
{
    position: absolute;
    right: 0;
    z-index: 12;
    padding-right: 1.2em;
}

.org_openpsa_toolbar ul.midcom_toolbar li
{
  display: inline-block;
  padding: 0
}

#org_openpsa_toolbar ul.navigation_toolbar li.disabled
{
    opacity: .5
}

.org_openpsa_toolbar ul.midcom_toolbar li form
{
    padding: 0;
    display: inline;
    border: none;
}

.org_openpsa_toolbar ul.midcom_toolbar li > a,
.org_openpsa_toolbar ul.midcom_toolbar li.disabled > abbr,
.org_openpsa_toolbar ul.midcom_toolbar li button
{
  display: inline-block;
  color: #222;
  padding: .3em .5em;
  white-space: nowrap;
  overflow: visible;
  border-radius: 0.5em;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
  line-height: 16px;
}

#container .org_openpsa_toolbar ul.midcom_toolbar li > a,
#container .org_openpsa_toolbar ul.midcom_toolbar li.disabled > abbr
{
  text-decoration: none !important;
}

.org_openpsa_toolbar ul.midcom_toolbar li button
{
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 !important;
  font-size: 11px;
  padding: 0.2em 0.3em;
}

.org_openpsa_toolbar ul.midcom_toolbar li i
{
    font-size: 135%;
    opacity: .5;
    vertical-align: text-top;
    text-shadow: 0 1px 1px #fff;
}

.org_openpsa_toolbar ul.midcom_toolbar li > a:hover,
.org_openpsa_toolbar ul.midcom_toolbar li > a.active,
.org_openpsa_toolbar ul.midcom_toolbar li button:hover
{
    background: #fcfcfc;
    background: linear-gradient(to bottom, #fcfcfc 0%, #efefef 14%, #ededed 30%, #ffffff 100%);
}

.org_openpsa_toolbar ul.midcom_toolbar li > a:hover i,
.org_openpsa_toolbar ul.midcom_toolbar li > a.active i,
.org_openpsa_toolbar ul.midcom_toolbar li button:hover i
{
    opacity: .7
}

.org_openpsa_toolbar ul.midcom_toolbar li > a img,
.org_openpsa_toolbar ul.midcom_toolbar button img
{
  border: none;
  vertical-align: bottom;
}

#org_openpsa_toolbar ul.navigation_toolbar li > *
{
    display: flex;
    align-items: baseline;
}

#org_openpsa_toolbar ul.navigation_toolbar li i
{
    align-self: end;
}

#org_openpsa_toolbar ul.navigation_toolbar li:last-child i
{
    order: 2;
    padding-left: .2em
}

.org_openpsa_toolbar ul.view_toolbar li
{
    border-left: 1px solid #b1b1b1;
    padding-left: 3px
}

.org_openpsa_toolbar ul.view_toolbar li.disabled
{
  display: none;
}

.org_openpsa_toolbar ul.view_toolbar li:first-child
{
  border: none;
}

.org_openpsa_toolbar #toolbar_dropdown
{
    position: relative;
}

.org_openpsa_toolbar #toolbar_dropdown.expanded ul
{
  position: absolute;
  left: 0;
  top: 4px;
  width: auto;
  height: auto;
  z-index: 10;
}

.org_openpsa_toolbar #toolbar_dropdown ul
{
  background-color: #cccec9;
  display: none;
  margin: 0;
  margin-top: 22px;
  padding: 5px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 1px solid #aaa;
  border-top: 0px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4)
}

.org_openpsa_toolbar #toolbar_dropdown.expanded ul,
.org_openpsa_toolbar #toolbar_dropdown li
{
  display: block;
}

.org_openpsa_toolbar #toolbar_dropdown li
{
  border: none;
}

.org_openpsa_toolbar ul.midcom_toolbar #toolbar_dropdown li > a,
.org_openpsa_toolbar ul.midcom_toolbar #toolbar_dropdown li > button
{
  display: block
}

#org_openpsa_toolbar_trigger:hover
{
    cursor: pointer
}

#content-text.openpsa-resizing
{
    overflow: hidden
}

#org_openpsa_widgets_calendar
{
    position: absolute;
}

.midcom_helper_search_result h3
{
	margin-bottom: .5em;
}

.midcom_helper_search_result_metadata
{
    color: #666;
	margin-top: .5em
}

body#org_openpsa_popup {
    background-color: transparent;
}

#org_openpsa_popup #container {
    overflow: visible;
}

#org_openpsa_popup #content {
    margin-left: 0;
    min-height: calc(100% - 60px - 2.5em);
}

#org_openpsa_popup #content.no-header {
    margin-left: 0;
    min-height: calc(100% - 3em);
}

#org_openpsa_popup .org_openpsa_toolbar ul{
    padding: 0.2em 0.4em 0.2em 0
}

/** former content.css **/

.content-with-sidebar
{
    display: flex;
    align-items: flex-start
}

.content-with-sidebar > div.main
{
    padding-right: 1em;
    width: 70%;
}
.content-with-sidebar > aside
{
    width: 30%;
}

#content-text aside div.vcard
{
    float: none;
    display: inline-block;
}

#content-text div.wide
{
    width: 100%;
    clear: both
}

#content-text
{
    padding: 1em;
    overflow: auto;
    position: relative
}

#content-text h1
{
  display: none;
}

#content-text h2
{
    font-size: 120%;
    margin: 1em 0 .5em 0
}

#content-text h3
{
  font-size: 100%;
}

#content-text h4
{
  font-size: 100%;
}

aside .area
{
    margin-bottom: 1.5em;
}

aside .org_openpsa_helper_box
{
    font-size: 90%;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #daddd6;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: .3em;
}

aside .org_openpsa_helper_box h3
{
    color: #24436e;
    background-color: #e9ede4;
    background: -ms-linear-gradient(top, #f4f4ef 0%,#e7e6e0 76%,#e7e6e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f4ef 0%,#e7e6e0 76%,#e7e6e0 100%); /* W3C */

    padding: .2em 0.5em;
    margin: 0;
    border: none;
    border-bottom: solid 1px #d2d6cd;
    border-radius: 6px 6px 0 0;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: .3em;
}

.org_openpsa_helper_box ul
{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.org_openpsa_helper_box li
{
    margin-top: .7em;
}

.org_openpsa_helper_box .date
{
    color: #777;
}

.org_openpsa_helper_box span.tip
{
  display: block;
  padding: 0.5em;
}

.org_openpsa_helper_box div.current-status
{
  font-size: larger;
  margin-bottom: 4px;
}

.org_openpsa_user_badPass, .org_openpsa_user_shortPass
{
    color: red;
}
.org_openpsa_user_goodPass, .org_openpsa_user_strongPass
{
    color: green;
}
