/* Lists in OpenPSA areas */
div.area {
    clear: both;
}
div.area dl {
    margin: 0px;
}
div.area dt {
    font-weight: bold;
}
div.area dt a {
    text-decoration: none;
}
div.area dd {
    margin-left: 0px;
    margin-bottom: 5px;
}
div.area dl ul {
    padding-left: 7px;
    list-style: none;
}
div.area dl ul li {
    margin-bottom: 4px;
}
div.area .metadata {
    color: #BAB5AB;
    background-color: transparent;
    font-size: smaller;
}
div.area .metadata a {
    color: #BAB5AB;
}
div.area .metadata input {
    color: #BAB5AB;
}

/* Inline toolbars */
ul.area_toolbar
{
    white-space: nowrap;
    margin: .4em 0;
    padding: 0
}
ul.area_toolbar li
{
    display: inline;
    margin-right: .4em;
    line-height: 20px;
}
ul.area_toolbar li a
{
    text-decoration: none;
}
ul.area_toolbar li input
{
    background-position: 2px;
}
ul.area_toolbar li a.yes,
ul.area_toolbar li input.yes
{
    padding-left: 21px;
    background-image: url('../stock-icons/16x16/ok.png');
    background-repeat: no-repeat;
}
ul.area_toolbar li a.no,
ul.area_toolbar li input.no
{
    padding-left: 21px;
    background-image: url('../stock-icons/16x16/cancel.png');
    background-repeat: no-repeat;
}
ul.area_toolbar li input.hours
{
    padding-left: 21px;
    background-image: url('../stock-icons/16x16/stock_event.png');
    background-position: left;
    background-repeat: no-repeat;
}
ul.area_toolbar li input:hover
{
    cursor: pointer;
}

div.area div.current div.org_openpsa_projects_hourlist
{
    display: none;
    margin-left: 25px;
}

div.area form.subscribe
{
    display: inline;
}
div.area form.subscribe input
{
    background-color: transparent;
    color: #314E6C;
    border: none;
    padding-left: 16px;
    background-image: url('../stock-icons/16x16/jump-to.png');
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 8px;
}
div.area form.subscribe input:hover
{
    color: #FFFFFF;
    background-color: #c0c0c0;
    border-radius: 6px;
}

/* MidCOM toolbars in OpenPSA areas */
div.area ul.midcom_toolbar {
    display: block;
    margin: 0px;
    padding: 0px;
    z-index: 256;
}
div.area ul.midcom_toolbar li {
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    list-style: none;
}
div.area ul.midcom_toolbar li.disabled {
    display: none;
}
div.area ul.midcom_toolbar li a {
    text-decoration: none;
    padding: 4px;
    display: block;
}
div.area ul.midcom_toolbar li a {
    padding: 2px;
}
div.area ul.midcom_toolbar li a img {
    border: none;
    overflow: hidden;
}

div.buttons ul.midcom_toolbar {
    float: none;
    display: block;
}
div.buttons ul.midcom_toolbar li {
    float: none;
    list-style: none;
}

/* Message lists in directmarketing and support */
div.area ul.comments {
   margin: 0px;
   padding: 0px;
}
div.area ul.comments li {
   list-style: none;
   margin-left: 0px;
}
div.area ul.comments li div {
   background-color: #ffffff;
   border: 1px solid #e0e0e0;
   padding: 6px;
   padding-right: 20px;
   border-radius: 6px;
   background-image: url('../stock-icons/16x16/stock_mail-open.png');
   background-position: top right;
   background-repeat: no-repeat;
   margin-bottom: 6px;
}
div.area ul.comments li div.email-started {
    background-image: url('../stock-icons/16x16/stock_mail.png');
}
div.area ul.comments li div.email-completed {
    background-image: url('../stock-icons/16x16/stock_mail-reply.png');
}
div.area ul.comments li div.mobile {
    background-image: url('../stock-icons/16x16/stock_cell-phone.png');
}

/* Datamanager-generated view handling*/
div.midcom_helper_datamanager2_view
{
    margin-bottom: 1em;
    display: table;
}
div.fieldset
{
    margin-bottom: 1em;
    display: table-row-group;
}
#content-text div.fieldset h2
{
    display: table-caption;
    font-size: 1.2em;
}
div.midcom_helper_datamanager2_view div.field
{
    margin-bottom: 1em;
    display: table-row;
}
div.midcom_helper_datamanager2_view div.field > div
{
    display: table-cell;
    border-bottom: 1px solid white;
    padding: 2px 5px;
}
div.midcom_helper_datamanager2_view div.field:hover > div
{
    border-bottom: 1px solid #ddd;
}

div.midcom_helper_datamanager2_view div.title
{
    vertical-align: top;
    text-align: right;
    color: #777;
    padding: .1em .3em .2em 0;
}
div.midcom_helper_datamanager2_view div.value p:first-child
{
    margin-top: 0;
}

/* Ajax handling */
input.ajax_editable, select.ajax_editable
{
    border: 1px solid transparent;
    background-color: transparent;
    background-position: right;
    background-repeat: no-repeat;
}
select.ajax_editable option {
    background-color: #ffffff;
}

/* Editing */
form.datamanager2
{
    margin-bottom: 5em;
}

form.datamanager2 .form fieldset.fieldset
{
    border-color: #ccc;
    border-radius: 5px;
    background: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F9F9F9 32%, #F9F9F8 96%, #FCFCFC 100%);
}

form.datamanager2 .form fieldset.fieldset:hover
{
    box-shadow: 1px 5px 7px #ddd;
}

form.datamanager2 .form fieldset.fieldset legend
{
    font-size: 1.1em;
}

form.datamanager2 .element
{
    display: flex;
}

form.datamanager2 .form label
{
    font-weight: normal;
}

form.datamanager2 .form .element > label
{
    vertical-align: top;
    padding-right: .5em;
    text-align: right;
    flex-basis: 30%;
    min-width: 9em;
}

form.datamanager2 .form .element > .input
{
    flex-grow: 1;
    flex-basis: 70%;
}

form.datamanager2 .form fieldset th
{
    font-weight: normal;
}

form.datamanager2 .element .field_text
{
    text-shadow: 1px 1px 1px white;
    margin-right: .3em;
    color: #555
}

form.datamanager2 .form_toolbar
{
    display: block;
    white-space: nowrap;
    position: absolute;
    padding-top: 1.5em;
    padding-left: 9.5em;
    margin-bottom: 1.5em;
}

form.datamanager2 .form_toolbar > *
{
    display: inline;
    margin-right: 1.5em
}

form.datamanager2 .form_toolbar > *:hover
{
    cursor: pointer;
}

form.datamanager2 .required_note
{
    display: block;
    white-space: nowrap;
    position: absolute;
}

input.ajax_editable:hover,
form.datamanager2 div.input input, form.datamanager2 div.input textarea, form.datamanager2 div.input select,
input[type="submit"],
.form_toolbar input[type="button"],
.form_toolbar button,
.area_toolbar a.button
{
    border: 1px solid #d3b199;
    border-color: #bbaf97 #e6ddcb #e6ddcb #bbaf97;
    border-radius: 3px;
    padding: 1px
}

form.datamanager2 div.input input.checkbox,
form.datamanager2 div.input input.radiobutton
{
    border: none;
    box-shadow: none;
}

form.datamanager2 input.shorttext,
form.datamanager2 .longtext,
form.datamanager2 select
{
    width: calc(100% - .4em);
    background-color: white
}

form.datamanager2 .autocomplete-widget-creation-enabled input.shorttext
{
    max-width: calc(100% - 3.6em);
}

input.ajax_focused,
form.datamanager2 input:focus, form.datamanager2 textarea:focus, form.datamanager2 select:focus {
    background-color: #fbf2dd;
    color: #000000;
}

form.datamanager2 div.input input,
form.datamanager2 div.input textarea
{
    box-shadow: inset 0 1px 5px #f4f0eb;
    padding: .15em .2em;
}

form.datamanager2 div.element_subform fieldset
{
    position: relative
}

form.datamanager2 div.element_subform .remove-item
{
    position: absolute;
    top: -1.5em;
    right: 0px;
}


form.datamanager2 div.element_subform .attachment-preview
{
    width: 60px;
}

form.datamanager2 div.element_subform .attachment-input
{
    width: 100%;
}

form.datamanager2 div.element_subform .attachment-input label
{
    flex-basis: auto;
    min-width: 5em;
}

input[type="submit"],
.form_toolbar input[type="button"],
.form_toolbar button,
form.datamanager2 div.input .submit,
.area_toolbar a.button
{
    background-color: #e9e9e9;
    box-shadow: 2px 2px 8px #f3f3f3 inset, 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-color: #aaa #888 #888 #bbb;
    border-style: solid;
    cursor: pointer;
    margin: .2em 0 .3em 0;
    text-shadow: 1px 1px 2px white;
    color: #222;
    padding: .1em .4em
}

input[type="submit"]:hover,
.form_toolbar input[type="button"]:hover,
.area_toolbar a.button:hover
{
    background-color: #f6f5f4;
    border-color: #bbb #aaa #999 #bbb;
    box-shadow: 2px 2px 10px #efefef inset, 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
    text-decoration: none;
}

form.datamanager2 div.form_toolbar .submit
{
    background-position: 3px center;
    padding-left: 21px
}

form.datamanager2 fieldset.checkbox label,
form.datamanager2 fieldset.radiobox label {
    display: inline;
    padding-right: 10px;
    font-weight: normal;
    vertical-align: bottom
}

form.datamanager2 fieldset.checkbox br,
form.datamanager2 fieldset.radiobox br {
    display: none
}

form.datamanager2 fieldset.radiobox input.radiobutton,
form.datamanager2 fieldset.checkbox input.checkbox {
    float: none;
    clear: none;
}

input.ajax_saving, select.ajax_saving {
    background-image: url("../stock-icons/16x16/new-html.png");
    padding-right: 22px;
}
input.ajax_save_failed, select.ajax_save_failed {
    color: red;
    background-image: url("../stock-icons/16x16/cancel.png");
    padding-right: 22px;
}
input.ajax_saved_fade, select.ajax_saved_fade {
    background-image: url("../stock-icons/16x16/ok_fade_50.png");
    padding-right: 22px;
}
input.ajax_saved, select.ajax_saved {
    background-image: url("../stock-icons/16x16/ok.png");
    padding-right: 22px;
}

/* Last updated listings for Mypage */
ul.updated {
   margin: 0px;
   padding: 0px;
}
ul.updated li {
   list-style: none;
   margin: 0px;
   padding-left: 20px;
   background-position: left;
   background-repeat: no-repeat;
   background-image: url("../stock-icons/16x16/edit.png");
   display: block;
   padding-top: 3px;
   padding-bottom: 3px;
}
ul.updated li.updated-calendar {
    background-image: url("../stock-icons/16x16/stock_new-event.png");
}
ul.updated li.updated-contacts {
    background-image: url("../stock-icons/16x16/stock_people.png");
}

dl.campaigns dt.unsubscribed {
    text-decoration: line-through;
}

/* Better looking business cards */
#container div.vcard
{
    border: 1px solid #babdb6;
    border-radius: 6px;
    background: #FFFFFF;
    background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 72%, #f7f7f7 73%, #fcfcfc 100%);
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.7);
    padding: 4px;
    margin: 4px;
    float: left;
    width: 160px;
    height: 80px;
    overflow: hidden;
    font-size: smaller;
}
#container div.vcard div.n
{
    font-size: larger;
}
#container div.vcard a
{
    color: #333333;
}
#container div.vcard a:hover
{
    text-decoration: underline
}
#container div.main div.vcard li
{
    margin-left: 10px;
    /*line-height: 16px;*/
}
#container div.main div.vcard li.org
{
    background-image: none;
    font-style: italic;
}

#container div.vcard input.delete
{
    display: none;
}

#container div.vcard:hover input.delete
{
    display: block;
}

/* Related Wiki pages */
div.net_nemein_wiki ul
{
    padding-left: 0px;
}
div.net_nemein_wiki ul.related li
{
    list-style: none;
    padding-left: 22px;
    background-image: url('../stock-icons/16x16/new-text.png');
    background-position: top left;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}
div.net_nemein_wiki ul.related li a
{
    text-decoration: none;
}

/* Sort GET links */
a.sort img
{
    border: 0px;
}

/* Message report table */
table.link_statistics td.numeric
{
    text-align: center;
}

table.link_statistics td.bargraph div.link_count_visualization
{
    background-color: #3364a3;
}

.ui-datepicker-trigger
{
    background-image: url(../stock-icons/16x16/stock_event.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 16px;
    height: 16px;
    margin-left: .3em;
    vertical-align: middle;
    opacity: .75;
    cursor: pointer;
    color: transparent
}

.ui-datepicker-trigger:hover,
.ui-datepicker-trigger:active
{
    opacity: 1;
}

#org_openpsa_popup form.datamanager2
{
    margin-bottom: 0;
}
