fieldset
{
    border: none;
    margin-bottom: 20px;
    background-color: #d3d7cf;
    border-radius: 6px;
}
fieldset legend
{
    margin-left: 0px;
    padding-left: 0px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;
}

fieldset legend:hover
{
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
}


fieldset div.description
{
    margin-left: 2em;
    font-size: 0.9em;
    background-color: #eeeeec;
    padding: 1em;
    border-radius: 6px;
}

fieldset div.description
{
    max-height: 20em;
    overflow: auto;
}
