div.org_openpsa_invoices
{
    padding: .75em 0
}

.org_openpsa_invoices.ui-jqgrid-view
{
    box-shadow: 1px 3px 5px #aaa;
}

div.org_openpsa_invoices table button i
{
    color: #5d81b0;
    opacity: .7;
    transition: opacity .2s;
    margin-right: .3em
}

div.org_openpsa_invoices table button:hover i
{
    opacity: 1;
}

div.org_openpsa_invoices table button.mark_paid i
{
    color: #76d41a;
}

div.org_openpsa_invoices_invoice #tabs
{
    margin-top: 1em;
}

div.org_openpsa_invoices_invoice span.bad
{
    color: #A40000;
}

div.org_openpsa_invoices_invoice .hours
{
    margin-top: 1em
}

div.org_openpsa_invoices table button
{
    background: transparent;
    border: none;
    padding: 0;
}
div.org_openpsa_invoices table button:hover
{
    cursor: pointer;
    text-decoration: underline
}

.input_description
{
    width: 95%;
}
.input_price_per_unit
{
    width: 70px;
}
.input_units
{
    width: 70px;
}
.remove
{
    background-color: #EDEDEB;
}
.invoice_item_row
{
    border-bottom-color:grey;
    border-bottom-style:dotted;
    border-bottom-width:1px;
}

.org_openpsa_invoices_invoice .description
{
    white-space: pre-wrap
}

#add-journal-entry
{
    float: right;
    opacity: .5;
    transition: opacity .2s;
    cursor: pointer;
}

.area.history:hover #add-journal-entry
{
    opacity: .7;
}

.area.history #add-journal-entry:hover
{
    opacity: 1;
}

.add-journal-text
{
    box-sizing: border-box;
    width: 100%;
}
