body
{
    background-color: #white;
    color: #333333;
    font-family: "Arial", "Helvetica", "Geneva", sans-serif;
    margin: 0px;
    padding: 0px;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#top_navigation
{
    margin:0;
    padding:0;
    border-bottom: 1px solid #c5c5c5;
}

#top_navigation ul
{
    margin: 0;
    padding: 0;
}

#top_navigation ul li
{
    display: inline;
}

#top_navigation a
{
    display: inline-block;
    text-decoration: none;
    color: #204a87;
    padding: 8px;
    background-color: #e3e3e3;
    border-right: 1px solid #c5c5c5
}
#top_navigation a:hover
{
    background-color: white;
}

#top_navigation ul li.selected
{
    position: relative;
    top: 1px;
}
#top_navigation ul li.selected a
{
    background-color: white;
    color: #000000;
    margin-bottom: -1px
}

#files, #search
{
    padding-left: 2%;
    padding-right: 2%;
    height: 88%;
    overflow: auto;
}
#files form label span.field_text
{
    margin-top: 4px;
    font-weight: bold;
    display: block;
}
.image-container table
{
    border-collapse: collapse;
    width: 100%
}
.image-container table tr
{
    vertical-align: top;
}

.image-container table td
{
    padding: 5px;
}

form.datamanager2 .element_subform fieldset
{
    border: 1px solid #ddd;
    border-radius: .3em;
    margin-bottom: 0.5em;
    padding: 0.3em;
}

form.datamanager2 .element_subform fieldset legend
{
    font-weight: normal
}

.image-container table td:first-child
{
    width: 125px;
}

.attachment-container .attachment-preview
{
    width: 109px;
}

.image-container table td .element,
.attachment-container .attachment-input .element
{
    display: flex
}

.image-container table td .element label,
.attachment-container .attachment-input label
{
    width: 8em;
}

.image-container table a
{
    text-decoration: none;
    color: #204a87;
    font-size: smaller;
}

form.datamanager2 .input .attachment-container
{
    display: block;
}

.image-container table .input,
.image-container table .input .shorttext,
.attachment-container .attachment-input .input .shorttext
{
    width: 100%;
}

#files table .new {
	margin-top:7px;
}

#files table th
{
    text-align: left;
}
#files div.form_toolbar
{
    text-align: center;
}

.search-form
{
	margin: 10px 0 10px 0;
}
