div.rcs_navigation
{
  text-align: center;
}

div.rcs_navigation ul
{
  margin: 0;
  list-style: none;
  margin-top: 4px;
}

div.rcs_navigation ul li
{
  display: inline;
  padding: 0 0.5em;
}

div.rcs_navigation ul li img,
div.rcs_navigation ul li a img
{
  border: none;
  vertical-align: middle;
}

div.rcs_navigation ul li abbr
{
  border: none;
}

dl.midcom_admin_rcs_diff dt
{
    font-weight: bold;
}
dl.midcom_admin_rcs_diff span.deleted
{
    color: #cc0000;
    text-decoration: line-through;
}
dl.midcom_admin_rcs_diff span.inserted
{
    background-color: #e0ffa0;
    color: #000000;
}

dl.midcom_admin_rcs_diff tbody th
{
    color: #555;
    font-weight: normal;
    text-align: right;
    padding-right: .7em;
}

dl.midcom_admin_rcs_diff tbody tr:hover
{
    background-color: #ffc
}
