/* Individual deliverable view */
div.org_openpsa_sales_salesproject_deliverable div.tags
{
    float: right;
    color: #c0c0c0;
}

div.org_openpsa_sales_salesproject_deliverable div.at table th
{
    text-align: left;
}

div.org_openpsa_sales_salesproject_deliverable .tab_div .org_openpsa_invoices
{
    padding: 0;
}

div.org_openpsa_sales_salesproject_deliverable .tab_div .org_openpsa_invoices .ui-jqgrid-view
{
    box-shadow: none;
}

#org_openpsa_sales_salesproject_deliverable_add
{
    display: none;
}

.custom-productselect {
    position: relative;
    display: inline-block;
}
.custom-productselect .custom-productselect-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding-bottom: 1px;
}
.custom-productselect .custom-productselect-input {
    margin: 0;
    padding: 0.3em;
}
.ui-autocomplete .product-description {
    display: block;
    font-size: 90%;
    color: #666
}

.org_openpsa_helpers_fileinfo
{
    display: flex;
    margin-bottom: 1em
}

.org_openpsa_helpers_fileinfo .info
{
    padding-left: .5em;
}

.org_openpsa_helpers_fileinfo .info .filename
{
    display: block;
    font-weight: bold;
    margin-bottom: .3em;
}

.org_openpsa_helpers_fileinfo .icon i {
    font-size: 300%;
    opacity: .5;
    transition: opacity .2s;
}

.org_openpsa_helpers_fileinfo .updated
{
    font-size: 90%;
}

.org_openpsa_helpers_fileinfo .actions i
{
    margin-left: .5em;
    font-size: 16px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
    color: #333;
}

.org_openpsa_helpers_fileinfo:hover .actions i
{
    opacity: .5
}

.org_openpsa_helpers_fileinfo:hover .icon i
{
    opacity: 1
}

.org_openpsa_helpers_fileinfo .actions:hover i
{
    opacity: 1;
}

.org_openpsa_helpers_fileinfo .actions i.fa-trash
{
    color: #ee2b2b;
}
