/* Individual sales project display */
div.salesproject table.info
{
    padding-right: 10px;
}

div.salesproject table.info th
{
    vertical-align: top;
    text-align: left;
}

div.salesproject div.contacts
{
    float: right;
    width: 168px;
    margin-right: 10px;
}
div.salesproject div.deliverables ol.deliverable_list
{
    list-style: none;
    padding: 4px;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable
{
    margin-bottom: 1em;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #babdb6;
    border-radius: 8px;
}

div.salesproject div.deliverables ol.deliverable_list .icon
{
    float: left;
    display: block;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer
}

div.salesproject div.deliverables ol.deliverable_list li.collapsed .icon
{
    background-image:url('../stock-icons/16x16/list-add.png');
}
div.salesproject div.deliverables ol.deliverable_list li.expanded .icon
{
    background-image:url('../stock-icons/16x16/list-remove.png');
}

div.salesproject div.deliverables ol.deliverable_list li.deliverable h3
{
    background-color: #e9ede4;
    padding: 0 0.5em;
    margin: 0;
    margin-left: 24px;
    border-left: solid 1px #babdb6;
    border-bottom: solid 1px #babdb6;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    line-height: 24px;
    font-weight: bold;
}

div.salesproject div.deliverables ol.deliverable_list li.deliverable div.information,
div.salesproject div.deliverables ol.deliverable_list li.deliverable div.toolbar
{
    margin: 0 24px;
}

div.salesproject div.deliverables ol.deliverable_list li.deliverable div.tasks
{
    margin-top: .5em;
    clear: both
}

div.salesproject div.deliverables ol.deliverable_list li.deliverable div.tags
{
    float: right;
    margin-right: 24px;
    font-size: 0.9em;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable div.information
{
    display: none;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable div.description,
div.salesproject div.deliverables ol.deliverable_list li.deliverable table.details
{
    display: inline-block;
    vertical-align: top;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable div.description
{
    width: 60%;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable table.details
{
    width: 35%;
    font-size: smaller;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable table.details th
{
    text-align: left;
}
div.salesproject div.deliverables ol.deliverable_list li.deliverable div.components
{
    clear: right;
}

/* Individual deliverable view */
div.org_openpsa_sales_salesproject_deliverable div.tags
{
    float: right;
    color: #c0c0c0;
}

div.org_openpsa_sales_salesproject_deliverable div.at table th
{
    text-align: left;
}

div.org_openpsa_sales_salesproject_deliverable .tab_div .org_openpsa_invoices
{
    padding: 0;
}

div.org_openpsa_sales_salesproject_deliverable .tab_div .org_openpsa_invoices .ui-jqgrid-view
{
    box-shadow: none;
}

#org_openpsa_sales_salesproject_deliverable_add
{
    display: none;
}

.custom-productselect {
    position: relative;
    display: inline-block;
}
.custom-productselect .custom-productselect-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding-bottom: 1px;
}
.custom-productselect .custom-productselect-input {
    margin: 0;
    padding: 0.3em;
}
.ui-autocomplete .product-description {
    display: block;
    font-size: 90%;
    color: #666
}
