table.org_openpsa_calendarwidget_month
{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.org_openpsa_calendarwidget_month td,
table.org_openpsa_calendarwidget_month th
{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  vertical-align: top;
}

table.org_openpsa_calendarwidget_month thead
{
  background-color: #efefef;
  text-align: center;
}

table.org_openpsa_calendarwidget_month td ul
{
  padding: 0 0 0 1.2em;
  margin: 0;
}

table.org_openpsa_calendarwidget_month td li,
table.org_openpsa_calendarwidget_month td li h3
{
  margin: 0;
  font-size: 100%;
  padding: 0;
}

table.org_openpsa_calendarwidget_month td.sunday
{
  color: #880000;
}
table.org_openpsa_calendarwidget_month td.event
{
    font-weight: bold;
    background-color: #e0e0e0;
}
table.org_openpsa_calendarwidget_month td.event div.hover
{
  position: absolute;
  margin-top: -0.2em;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 0.2em;
  list-style: none;
}