.midcom_datamanager_table_photo{
    width: 100%;
}

.midcom_datamanager_table_photo .unsaved-file {
    opacity: .7
}

.midcom_datamanager_table_photo .delete {
    opacity: .5;
    pointer-events: none;
}

.midcom_datamanager_photo_checkbox{
    float: right;
}

.midcom_datamanager_photo_label{
    float: right;
    position: relative;
    top: -.5em;
}
