div.form_description
{
    font-weight: bold;
    margin-top: 6px;
}

div.midcom_admin_content_componentlist div.note
{
    border: 1px solid #e0e0e0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #000000;
    background-color: #f0f0f0;
}

div.midcom_admin_content_componentlist dl
{
    height: 15em;
    overflow: auto;
    border: 1px #f0f0f0 solid;
    padding: 6px;
    margin-top: 0px;
}

div.midcom_admin_content_componentlist dl dd
{
    margin-bottom: 6px;
}

.delete_folder ul.folder_list
{
  list-style: none;
  padding-left: 32px;
  padding-bottom: 6px;
  margin-left: 0;
}

div.midcom_admin_content_folderlist ul
{
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

div.midcom_admin_content_folderlist ul ul
{
    padding-left: 30px;
}

div.midcom_admin_content_folderlist ul li.current
{
    font-weight: bold;
}

div.midcom_admin_content_folderlist ul li.wrong_component
{
    color: #a0a0a0;
}
