div.midcom_admin_content_folderlist ul
{
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

div.midcom_admin_content_folderlist ul ul
{
    padding-left: 30px;
}

div.midcom_admin_content_folderlist ul li.current > label
{
    font-weight: bold;
}

div.midcom_admin_content_folderlist ul li.self
{
    font-weight: bold;
    color: #a0a0a0;
}

div.midcom_admin_content_folderlist ul li.self li
{
    font-weight: normal;
}

div.midcom_admin_content_folderlist ul li.wrong_component
{
    color: #a0a0a0;
}
