form.datamanager2 fieldset.midgard_admin_asgard_object_attachments_upload,
form.datamanager2 fieldset.midgard_admin_asgard_object_attachments_newfile
{
    background-color: #eeeeec;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}

/** File management styles */
div.file-manager
{
    margin-top: 1em;
}

div.file-manager div.filelist
{

    overflow: auto;
    height: 50%;
    padding: 2%;
}
div.file-manager div.filelist .selected a
{
    font-weight: bold;
}
div.file-manager div.filelist a img
{
    border: none;
    vertical-align: middle;
}
div.file-manager div.main h1
{
    margin-top: 0px;
}
div.file-manager div.main form
{
    border: 1px solid #555753;
    padding: 6px;
    margin-bottom: 1em;
}
div.file-manager div.main form hr
{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    width: 80%;
    height: 1px;
    background-color: #555753;
}
fieldset
{
    border: none;
    margin-bottom: 6px;
}
fieldset legend
{
    margin-left: 0px;
    padding-left: 0px;
    text-transform: uppercase;
}
div.file-manager div.main form label span
{
    margin-top: 6px;
    display: block;
    font-weight: bold;
}
div.file-manager div.main form input, 
div.file-manager div.main form textarea,
div.file-manager div.main form select
{
    display: block;
    margin-left: 2%;
}
form input.text,
form textarea
{
    width: 90%;
}

div.file-manager div.main form.urlform a img
{
    border: none;
    vertical-align: middle;
}
