form.datamanager2 fieldset.fieldset,
form.urlform fieldset
{
    background-color: #eeeeec;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #BABDB6;
    padding: 0.5em 1em;
}

form.datamanager2 fieldset legend,
form.urlform fieldset legend
{
    padding: .1em .5em;
    background-color: #BABDB6;
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
}

/** File management styles */
div.file-manager
{
    margin-top: 1em;
}

div.file-manager div.filelist
{

    overflow: auto;
    height: 50%;
    padding: 2%;
}
div.file-manager div.filelist .selected a
{
    font-weight: bold;
}
div.file-manager div.filelist a i
{
    margin: 0 .3em;
    opacity: .7;
    transition: opacity .2s
}
div.file-manager div.filelist a:hover i
{
    opacity: 1
}
div.file-manager div.main h1
{
    margin-top: 0px;
}
div.file-manager div.main form
{
    padding: 6px;
    margin-bottom: 1em;
}
div.file-manager div.main form hr
{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    width: 80%;
    height: 1px;
    background-color: #555753;
}

div.file-manager div.main form label span
{
    margin-top: 6px;
    display: block;
    font-weight: bold;
}
div.file-manager div.main form input,
div.file-manager div.main form textarea,
div.file-manager div.main form select
{
    display: block;
    margin-left: 2%;
}
form input.text,
form textarea
{
    width: 90%;
}

div.file-manager div.main form.urlform a img
{
    border: none;
    vertical-align: middle;
}
