body
{
  margin: 0px;
  padding: 0px;
}
#container,
#container select,
#container button,
#container input
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#content
{
    padding: 0 15px;
    background-color: white;
    padding-top: 60px;
}
#container a
{
  color: #24436e;
}
#container a:link,
#container a:visited
{
  text-decoration: none;
}

#org_openpsa_toolbar
{
  background-color: #ededeb;
  background-image: url('org_openpsa_toolbar_gradient.gif');
  background-repeat: repeat-x;
  background-position: bottom left;
  font-weight: bold;
  font-size: 80%;
  line-height: 16px;
  margin-bottom: 4px;
  position: fixed;
  width: 100%;
  top: 30px;
}

#org_openpsa_toolbar ul
{
  margin: 0px;
  padding: 0.5em 1em;
  list-style-type: none;
}

#org_openpsa_toolbar ul a
{
  color: #000000;
}

#org_openpsa_toolbar ul a img
{
  border: none;
}

#org_openpsa_toolbar ul li
{
  border-left: solid 1px #000000;
  display: inline;
  padding: 0 0.5em;
  white-space: nowrap;
}

#org_openpsa_toolbar ul li:first-child
{
  border: none;
}

#org_openpsa_toolbar ul li.disabled
{
  display: none;
}

#container h1
{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px;
  padding-left: 2%;
  font-size: 1.4em;
  background-image: url('nav_toolbar_gradient.gif');
  background-repeat: repeat-x;
  background-position: top left;
  background-color: #3364a3;
  color: #ffffff;
  position: fixed;
  width: 100%
}