name: PHPUnit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: Ubuntu-22.04

    env:
      extensions: intl,memcached,apcu

    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3']
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - uses: niden/actions-memcached@v7

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        coverage: "none"
        ini-values: date.timezone=UTC
        php-version: "${{ matrix.php-versions }}"
        extensions: "${{ env.extensions }}"

    - name: Install RCS
      run: sudo apt-get install rcs

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-${{ matrix.php-versions }}

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run test suite
      run: vendor/bin/phpunit
